<div class="navbar-nav">
    <div class="nav-item dropdown" >
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="text-align: center !important;">فهارس نقل الركاب</a>
       
        <div class="dropdown-menu" >
            <a href="@Url.Action("Index", "TRZMEMBERPOSITION")" class="dropdown-item"><i class="fa fa-book"></i>المناصب</a>
            <a href="@Url.Action("Index", "TRZMEMBERSHIP")" class="dropdown-item"><i class="fa fa-book"></i>العضوية</a>
            <a href="@Url.Action("Index", "TRZPROCEDTYPSALLOW")" class="dropdown-item"><i class="fa fa-book"></i>المعاملات المرتبطة بمعاملة</a>
            <a href="@Url.Action("Index", "TRZPROCEDSCARCAT")" class="dropdown-item"><i class="fa fa-book"></i>الأنواع المرتبطة بمعاملة</a>
           
        </div>
    </div>
    <div class="nav-item" style="text-align: center !important;">
        <a href="@Url.Action("Index", "TRCOMMITTEES")" class="nav-link" style="text-align: center !important;">
        <i class="fa fa-book"></i>اللجان</a>
    </div>
    <div class="nav-item">
        <a href="@Url.Action("Index", "TRSESSIONS")" class="nav-link" style="text-align: center !important;">
        <i class="fa fa-book"></i>الجلسات</a>
    </div>
</div>



