<div class="navbar-nav">
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">فهارس فنية</a>
        <div class="dropdown-menu">
            <a href="@Url.Action("Index", "ZCarChanges")" class="dropdown-item"><i class="fa fa-book"></i>التبدلات الفنية</a>
            <a href="@Url.Action("Index", "ZAttribs")" class="dropdown-item"><i class="fa fa-book"></i>المواصفات الفنية</a>
            <a href="@Url.Action("Index", "ZAttribCategories")" class="dropdown-item"><i class="fa fa-book"></i>فئات المواصفات الفنية</a>
            <a href="@Url.Action("Index", "ZCarKinds")" class="dropdown-item"><i class="fa fa-book"></i>الأنواع الرئيسية للمركبات</a>
            <a href="@Url.Action("Index", "ZCarCategories")" class="dropdown-item"><i class="fa fa-book"></i>الأنواع الثانوية للمركبات</a>
            <a href="@Url.Action("Index", "ZFacComps")" class="dropdown-item"><i class="fa fa-book"></i>الشركات الصانعة</a>
            <a href="@Url.Action("Index", "Zviolationtyps")" class="dropdown-item"><i class="fa fa-book"></i>انواع المخالفات</a>
            <a href="@Url.Action("Index", "Zprices")" class="dropdown-item"><i class="fa fa-book"></i>قيم أجزاء المركبة</a>
        </div>
    </div>
    <div class="nav-item">
        <a href="@Url.Action("Index", "TRCOMMITTEES")" class="nav-link" ><i class="fa fa-book"></i>اللجان</a>
    </div>
    </div>

