<!-- Add Committee-->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("AddCOMMITTEE")
            .Title("اضافة لجنة جديدة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Add_comm">
               <div class="row col-11">
                   <div class="col-sm-12" >
                     رقم قرار اللجنة
                       </div>
                   <div class="col-md-12 col-sm-12">
                       @Html.Kendo().TextBox().Name("AddComNo").HtmlAttributes(new { placeholder = " رقم قرار اللجنة", required = "required", data_required_msg = "هذا الحقل مطلوب"})


                       </div>
                      <div class="col-sm-12" >
                    تاريخ قرار اللجنة
                            </div>
                   <div class="col-md-12 col-sm-12">
                          @(Html.Kendo().DatePicker()
                                        .Name("AddComDate").Format("{0:dd/MM/yyyy}")
                                        .HtmlAttributes(new { placeholder = "تاريخ قرار اللجنة", required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                        .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )


                       </div>
                      <div class="col-sm-12" >
                     محافظة اللجنة
                           </div>
                   <div class="col-md-12 col-sm-12">
                          @(Html.Kendo().DropDownList()
                                    .Name("AddComCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )


                       </div>
               </div>
               <div class="window-footer">
                   <button class="btn btn-primary" onclick="SaveAddCommittee()">حفظ</button>
                   <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>

               </div>
           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(400)
            .Height(300)
            .Actions(actions => actions.Pin().Minimize().Maximize().Close())
            .Pinned()
            )
</div>

<!-- Save Add Committee-->
<script>
    function SaveAddCommittee() {


        var windowWidget = $("#AddCOMMITTEE").data("kendoWindow");
        if ($("#AddComCity").val() == "") {
            toastr.error("يجب اختيار المحافظة");
        } else {

        var validator = $("#Add_comm").kendoValidator().data("kendoValidator");
        if (validator.validate())
        {
            kendo.ui.progress(windowWidget.element, true);
            var model = {
                COMNO: $('#AddComNo').val(),
                COMDATE: $('#AddComDate').val(),
                COMCITYNB: $("#AddComCity").val(),
                STATUS: 1
            }

            $.ajax({
                type: "POST",
                data: model,
                url: "@Url.Action("Create", "TRCOMMITTEES")",
                success: function (response) {
                    if (response.success) {
                        kendo.ui.progress(windowWidget.element, false);
                        ColseWindow();
                        $("#grid").data("kendoGrid").dataSource.page(1);

                        toastr.success("تمت عملية الإضافة بنجاح");
                    } else {
                        kendo.ui.progress(windowWidget.element, false);
                        toastr.error(response.responseText);
                    }

                }
            });
        }
        }


       }
</script>