
@{
    ViewBag.Title = "اللجان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu,
    .card-heaser.note-toolbar .dropdown-menu {
        min-width: 90px;
        width: 300px;
    }

    .note-table-popover,
    .note-image-popover,
    .note-link-popover {
        display: none;
    }
</style>
<!-- Search  -->
<script>

    function GetFillters() {
        var fillter = {};
        fillter.COMNO = $('#SCommNO').val();
        fillter.COMDATESTART = $('#SComDateStart').val();
        fillter.COMDATEEND = $('#SComDateEnd').val();
        fillter.STATUS = $('#SComStatus').val();
        fillter.COMCITYNB = $('#SComCity').val();

        return fillter;

    }
    iid = 0;
    function GetCommNbRead() {

        return {
            Nb: iid
        }
    }


    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.read();
        debugger;
    }

    function rest_filtters() {
        $('#SCommNO').val("");
        $('#SComDateStart').val("");
        $('#SComDateEnd').val("");
        $("#SComStatus").data("kendoDropDownList").value(-1);
        $("#SComCity").data("kendoDropDownList").value(-1);
        $("#grid").data("kendoGrid").dataSource.data([]);
    }
</script>
@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel" style="font-size: 15px">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> رقم قرار اللجنة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @Html.Kendo().TextBox().Name("SCommNO").HtmlAttributes(new { placeholder = " رقم قرار اللجنة" })
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> المحافظة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة اللجنة")
                                    .Name("SComCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> التاريخ من</label>
                </div>
                <div class="col-lg-2 col-md-4" >
                    @(Html.Kendo().DatePicker()
                        .Name("SComDateStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ اللجنة من", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> التاريخ الى</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DatePicker()
                        .Name("SComDateEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ اللجنة الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> حالة اللجنة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر  حالة اللجنة")
                                    .Name("SComStatus")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetStatusOfComm", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>

                <div class="col-lg-2 col-md-4">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>
                
                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
        </div>
    </div>
}
<!-- Gridn Committee -->
<div>
    @(Html.Kendo().Grid <Proced.DataAccess.Models.CF.TRCOMMITTEES>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Template(t => { }).Title("م.").ClientTemplate(
                 "#= renderNumber(data) #"
               ).Width(80);
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.COMNO).Width(150);
                columns.Bound(c => c.COMDATE).Format("{0:dd/MM/yyyy}").Width(150);
                columns.ForeignKey(c => c.COMCITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150);
                columns.Bound(c => c.COMCITYNB).Visible(false);
                columns.Bound(c => c.STATUS).Visible(false);
                columns.ForeignKey(c => c.STATUS, (System.Collections.IEnumerable)ViewData["STATUS"], "ID", "NAME").Title("الحالة").Width(150);
                columns.Bound(c => c.ORDR).Width(150).Visible(false);
                columns.Bound(c => c.IUSER).Width(200);
                columns.Bound(c => c.IDATE).Format("{0:dd/MM/yyyy}").Width(150);
                columns.Command(command =>
                {
                    //command.Custom("Preview").Click("Preview").Text(" ");
                    command.Custom("Edit").Click("Edit").Text(" ");
                    //command.Custom("Delete").Click("Delete").Text(" ");
                    command.Custom("Details").Click("Details").Text(" ");
                   // command.Custom("Finish").Click("Finish").Text(" ");
                }).Width(180);
            })
            .HtmlAttributes(new { style = "height: aotu  !important;" })
            .Scrollable()
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            .Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("Read", "TRCOMMITTEES").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>

@Html.Partial("_AddCommittee")
@Html.Partial("_EditCommittee")
@Html.Partial("_AddMemberToCommittee")
@Html.Partial("_SearchOwners")
@Html.Partial("_DetailsMembers")

<!-- show and close Window-->
<script>

    $("#AddNew").click(function () {
        $('#AddComNo').val("");
        $('#AddComDate').val("");
        $("#AddComCity").data("kendoDropDownList").value(1)
        $("#Add_comm span.k-tooltip-validation").hide();
        var wnd = $("#AddCOMMITTEE").data("kendoWindow");
        wnd.center().open();
    });

  

    function Edit(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        var id = item.NB;
        $('#ComNb').val(item.NB);
        $('#EditComNo').val(item.COMNO);
        $("#EditComDate").kendoDatePicker({ format: "dd/MM/yyyy", value: item.COMDATE });
        $("#EditComCity").data("kendoDropDownList").value(item.COMCITYNB);
        $("#EditComStatus").data("kendoDropDownList").value(item.STATUS);


        
        var wnd = $("#EditCOMMITTEE").data("kendoWindow");
        wnd.center().open();

    }

  
    function Details(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        iid = item.NB;

        $('#OwnerNB').val("");
        $("#Detailsgrid").data("kendoGrid").dataSource.read();
        $('#ComMebmerNb').val(item.NB);

        $('#Comstatus').val(item.STATUS);

        var wnd = $("#DetailsCOMMITTEE").data("kendoWindow");
        wnd.center().open();
    }

    
    function Finish(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
       alert(item.NB);

    
    
    }

    function ColseWindow() {

        $('#AddComNo').val("");
        $('#AddComDate').val("");
        $("#AddComCity").data("kendoDropDownList").value(1)
        $("#Add_comm span.k-tooltip-validation").hide();
        $('#OwnerNB').val("");
        var wnd = $("#AddCOMMITTEE").data("kendoWindow");
        wnd.center().close();

        var wnd = $("#EditCOMMITTEE").data("kendoWindow");
        wnd.center().close();

        var wnd = $("#AddCOMMITTEEMEMBER").data("kendoWindow");
        wnd.center().close();

    }
</script>
<script>
    function renderNumber(data) {

        return data.Seq;
    }
</script>


