<!-- Add -->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("AddSession")
            .Title("اضافة جلسة جديدة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Add_Session">
               <div class="row col-11">
                   <div class="col-sm-12">
                             رقم الجلسة

                   </div>
                       <div class="col-md-12 col-sm-12" >
                                  @Html.Kendo().TextBox().Name("AddSesNo").HtmlAttributes(new { placeholder = " رقم الجلسة", required = "required", data_required_msg = "هذا الحقل مطلوب"})



                       </div>
                   <div class="col-sm-12">
                            تاريخ الجلسة

                   </div>
                      <div class="col-md-12 col-sm-12" >

                                @(Html.Kendo().DatePicker()
                                .Name("AddSesDate")
                                .Format("{0:dd/MM/yyyy}")
                                .HtmlAttributes(new { placeholder = "تاريخ الجلسة", required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                            )
                                



                       </div>
                   <div class="col-sm-12">
                            محافظة الجلسة

                   </div>
                      <div class="col-md-12 col-sm-12" >

                                  @(Html.Kendo().DropDownList()
                                            .Name("AddSesCity")
                                            .DataTextField("NAME")
                                            .DataValueField("ID").HtmlAttributes(new { required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCity", "Codes");
                                                });
                                            })
                                            .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                            )




                       </div>
               </div>
               <div class="window-footer">
                   <button class="btn btn-primary" onclick="SaveAddSession()">حفظ</button>
                   <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>

               </div>
           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(400)
            .Height(300)
            .Actions(actions => actions.Pin().Minimize().Maximize().Close())
            .Pinned()
            )
</div>

<!-- Save Add Committee-->
<script>


    function SaveAddSession() {


        var windowWidget = $("#AddSession").data("kendoWindow");


        var validator = $("#Add_Session").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            kendo.ui.progress(windowWidget.element, true);
            var model = {
                SESNO: $('#AddSesNo').val(),
                SESDATE: $('#AddSesDate').val(),
                SESCITYNB: $("#AddSesCity").val(),
                STATUS: 1
            }

            $.ajax({
                type: "POST",
                data: model,
                url: "@Url.Action("Create", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {
                        kendo.ui.progress(windowWidget.element, false);
                        ColseWindow();
                        $("#grid").data("kendoGrid").dataSource.page(1);

                        toastr.success("تمت عملية الإضافة بنجاح");
                    } else {
                        kendo.ui.progress(windowWidget.element, false);
                        toastr.error(response.responseText);
                    }

                }
            });
        }
       }
</script>