@if (ViewBag.isnewproced != null)
{
<div id ="isnewproced"style="height: 40px; background-color: #f2dede;">
    @ViewBag.isnewproced
    <button id="" onclick="ref_pro()" class="btn btn-danger">تحديث</button>
</div>
}


@(Html.Kendo().Grid<Passengers.ViewModel.TRPROCEDS_AVAILABLEVM>()
        .Name("gridPROCEDAVAILABLE")
        .Columns(columns =>
        {
            columns.Bound(c => c.NB).Width(10).Visible(false);
            columns.Bound(c => c.PROCEDNB).Visible(false);
            columns.Bound(c => c.SESSIONNB).Visible(false);
            columns.Bound(c => c.NAME).Width(300).Editable("222222222").Title("نوع المعاملة");
            columns.Bound(c => c.COUNTAVAILABLE).Width(50).Editable("222222222").Title("عدد المعاملات الموجود");
            columns.Bound(c => c.COUNTPROCED).Width(50).Title("عدد المعاملات المراد دراستها بالجلسة");
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
        .PageSize(50)
        .Model(model => model.Id(p => p.NB))
        .Read(read => read.Action("Read_TRPROCEDS_AVAILABLE", "TRSESSIONS").Data("GETSESSIONNB"))
        .Update(update => update.Action("UpdateAll", "TRSESSIONS")))
        .Resizable(resize => resize
        .Columns(true)
        )
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Name("Saveprocount").Text("<span><i class='fa fa-save' style='font-size:30px;'></i></span>").Url("#").HtmlAttributes(new { id = "Saveprocount", @class = "btn btn-primary hvr-box-shadow-outset" });

           // toolbar.Save().CancelText("<span><i class='fa fa-close' style='font-size:30px;'></i></span>").SaveText("<span><i class='fa fa-save' style='font-size:30px;'></i></span>").HtmlAttributes(new { id = "Save"});
        })
        .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                .Display("العدد الكلي للسجلات :  {2}")
                                ).Refresh(true).Input(true).Info(true).PageSizes(true))

)



<script>
   // function OnRequestEnd(e) {

        @*if (e.type == "update" && e.response != null && e.response.success && !e.response.Errors) {
            toastr.success(e.response.responseText, 'نجحت العملية');
            alert("1");

            $.ajax({
                type: "POST",
                data: { Sesnb: 22 },
                url: "@Url.Action("SetProcedCount", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {
                       // GetPartial();
                        $("#grid").data("kendoGrid").dataSource.page(1);
                        $("#grid").data("kendoGrid").dataSource.read();
                        $("#ProcedCount").data("kendoWindow").center().close();
                        toastr.success("تمت العملية  بنجاح");

                    } else {

                    }

                }
            });
            //$('#success_msg').show();
            //$('#error_msg').hide();
            //$('#labelIdd').text(e.response.responseText);
        }
        if (e.type == "destroy" && e.response != null && e.response.success && !e.response.Errors) {
            toastr.success(e.response.responseText, 'نجحت العملية');
            alert("2");
            //$('#success_msg').show();
            //$('#error_msg').hide();
            //$('#labelIdd').text(e.response.responseText);
        }
        if (e.response != null && !e.response.success && e.response.responseText != null) {
            toastr.success(e.response.responseText, 'نجحت العملية');
            alert("3");
            //$('#success_msg').hide();
            //$('#error_msg').show();
            //$('#errlabelIdd').text(e.response.responseText);
        }
    }*@

    @*function sync_handler(e) {
        var ss = GETSESSIONNB();
        var sss = ss.nb;

          $.ajax({
                type: "POST",
              data: { Sesnb: sss },
                url: "@Url.Action("SetProcedCount", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {

                       // GetPartial();
                        $("#grid").data("kendoGrid").dataSource.page(1);
                        $("#grid").data("kendoGrid").dataSource.read();
                        $("#ProcedCount").data("kendoWindow").center().close();
                        toastr.success("تمت العملية  بنجاح");

                    } else {

                    }

                }
            });

        this.read();
    }*@

    //function error_handler(e) {
    //    if (e.errors) {
    //        var message = "Errors:\n";
    //        $.each(e.errors, function (key, value) {
    //            if ('errors' in value) {
    //                $.each(value.errors, function () {
    //                    message += this + "\n";
    //                });
    //            }
    //        });
    //        $(".errorMessage").text(message);
    //        alert(message);
    //    }
    //}
    $("#Saveprocount").click(function () {
        var grid = $("#gridPROCEDAVAILABLE").data("kendoGrid");
        var dataSource = grid.dataSource;
        var sbjs = JSON.stringify(dataSource.data().toJSON());
        var ss = GETSESSIONNB();
        var sss = ss.nb;

       
         $.ajax({
                type: "POST",
             data: { mod: sbjs, sesnb: sss},
                url: "@Url.Action("Saveprocount", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {
                        affterSaveprocount();
                       // GetPartial();
                        $("#grid").data("kendoGrid").dataSource.page(1);
                        $("#grid").data("kendoGrid").dataSource.read();
                        $("#ProcedCount").data("kendoWindow").center().close();
                        //toastr.success("تمت العملية  بنجاح");

                    } else {

                    }

                }
            });
    });

    function ref_pro() {
        var xx = GETSESSIONNB();
        var xxx = xx.nb;
        $.ajax({
                type: "POST",
                data: { Sesnb: xxx },
                url: "@Url.Action("refpro", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {

                       //// GetPartial();

                        $("#gridPROCEDAVAILABLE").data("kendoGrid").dataSource.page(1);
                        $("#gridPROCEDAVAILABLE").data("kendoGrid").dataSource.read();
                       // $("#ProcedCount").data("kendoWindow").center().close();
                        $('#isnewproced').css('display', 'none');
                        

                    } else {

                    }

                }
            });
    }

    function affterSaveprocount(e) {
        var ss = GETSESSIONNB();
        var sss = ss.nb;

          $.ajax({
                type: "POST",
              data: { Sesnb: sss },
                url: "@Url.Action("SetProcedCount", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {

                       // GetPartial();
                        $("#grid").data("kendoGrid").dataSource.page(1);
                        $("#grid").data("kendoGrid").dataSource.read();
                        $("#ProcedCount").data("kendoWindow").center().close();
                        toastr.success("تمت العملية  بنجاح");
                        location.reload()

                    } else {

                    }

                }
            });

       
    }
</script>