<!-- PROCED INFO  -->

<div id="Proced_Info1">
    <h1>
        معاملة: @ViewBag.ProcedName
    </h1>

    @if (ViewBag.ProcedNb == 2002)
    {
        <p>الخط المراد الغائه</p>
        foreach (var item7 in ViewBag.LineName)
        {
            <p>@item7.NAME</p>
        }
        <label>المحافظات المرتبطة بالخط:</label>
        <table>
            <tr>
                <td>
                    @foreach (var city in ViewBag.LineCity)
                    {
                    <td> @city &nbsp; &nbsp; &nbsp; </td>
                }
                </tr>
            </table>
        }
    @if (ViewBag.ProcedNb == 2001)
    {
        <p>الخط المراد انشائه </p>
        <p> @ViewBag.LineName </p>
        <label>المحافظات المرتبطة بالخط:</label>
        <table>
            <tr>
                <td>
                    @foreach (var city in ViewBag.LineCity)
                    {
                    <td> @city &nbsp; &nbsp; &nbsp; </td>
                }
                </tr>
            </table>
        }

    @if (ViewBag.ProcedNb == 2004)
    {
        <label>الخط الاول المراد دمجه:</label><br />
        foreach (var item7 in ViewBag.LineName1)
        {
            <label>@item7.NAME</label>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>

        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>
        <label>الخط الثاني المراد دمجه:</label>
        <br />
        foreach (var item7 in ViewBag.LineName2)
        {
            <label>@item7.NAME</label>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>
        <label>الخط الجديد الناتج عن الدمج</label>
        <br />
        <label>  @ViewBag.LineNew</label>
    }

    @if (ViewBag.ProcedNb == 2003)
    {
        <label>الخط المراد تغيير اسمه او مساره:</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        <label>الخط الجديد: </label>
        <br />
        <label>  @ViewBag.LineNew</label>
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city1 in ViewBag.NEWLineCity)
        {
            <label>@city1</label>
        }
    }




    <div class="window-footer">
        <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>
    </div>
</div>
