<!-- PROCED INFO  -->

<div id="Proced_Info1">
    <h1>
        معاملة: @ViewBag.ProcedName
    </h1>
    @if (ViewBag.ProcedNb == 2002)
    {
        <p>الخط المراد الغائه</p>
        foreach (var item7 in ViewBag.LineName)
        {
            <p>@item7.NAME</p>

            <p>مسار الخط: @item7.LINEPATH</p>
        }
        <label>المحافظات المرتبطة بالخط:</label>
        <table>
            <tr>
                <td>
                    @foreach (var city in ViewBag.LineCity)
                    {
                    <td> @city &nbsp; &nbsp; &nbsp; </td>
                }
                </tr>
            </table>
        }
    @if (ViewBag.ProcedNb == 2001)
    {
        <p>الخط المراد انشائه </p>
        <p> @ViewBag.LineName </p>
        <p>مسار الخط: @ViewBag.LinePath</p>
        <label>المحافظات المرتبطة بالخط:</label>
        <table>
            <tr>
                <td>
                    @foreach (var city in ViewBag.LineCity)
                    {
                    <td> @city &nbsp; &nbsp; &nbsp; </td>
                }
                </tr>
            </table>
        }
    @if (ViewBag.ProcedNb == 2004)
    {
        <label>الخط الاول المراد دمجه:</label><br />
        foreach (var item7 in ViewBag.LineName1)
        {
            <label>@item7.NAME</label>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>

        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>
        <label>الخط الثاني المراد دمجه:</label>
        <br />
        foreach (var item7 in ViewBag.LineName2)
        {
            <label>@item7.NAME</label>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>
        <label>الخط الجديد الناتج عن الدمج</label>
        <br />
        <label>  @ViewBag.LineNew</label>
    }
    @if (ViewBag.ProcedNb == 2003)
    {
        <label>الخط المراد تغيير اسمه او مساره:</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p>مسار الخط: @item7.LINEPATH </p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        <label>الخط الجديد: </label>
        <br />
        <label>  @ViewBag.LineNew</label>
        <br />
        <p> مسار الخط: @ViewBag.LineNewPath</p>
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city1 in ViewBag.NEWLineCity)
        {
            <label>@city1</label>
        }
    }
    @if (ViewBag.ProcedNb == 2006)
    {
        <label>الخط المراد منحه للمركبة:</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2008)
    {
        <label>الخط المراد ازالته عن  المركبة:</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2012)
    {
        <label>رمز المركبة: @ViewBag.carnb</label>
        <label>رقم اللوحة: @ViewBag.tabnb</label>
        <br />
        <label>الخط الحالي للمركبة</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2014)
    {
        <label>رمز المركبة: @ViewBag.carnb</label>
        <label>رقم اللوحة: @ViewBag.tabnb</label>
        <br />
        <label>الخط الحالي للمركبة</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2016)
    {
        <label>رمز المركبة: @ViewBag.carnb</label>
        <label>رقم اللوحة: @ViewBag.tabnb</label>
        <br />
        <label>الخط الحالي للمركبة</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }

        <label>الخط الجديد </label><br />
        foreach (var item7 in ViewBag.NEWLineName)
        {
            <label>@item7.NAME</label>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.NEWLineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2018)
    {
        <label>رمز المركبة: @ViewBag.carnb</label>
        <label>رقم اللوحة: @ViewBag.tabnb</label>
        <br />
        <label>الخط الحالي للمركبة</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }

        <label>الخط الجديد </label><br />
        foreach (var item7 in ViewBag.NEWLineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.NEWLineCity)
        {
            <label>@city</label>
        }
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2023)
    {
        <label>رمز المركبة: @ViewBag.carnb</label>
        <label>رقم اللوحة: @ViewBag.tabnb</label>
        <br />
        <label>الخط الحالي للمركبة</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }

        <label>خط سير السفرة: </label><br />
        @ViewBag.TRIP_PATH
        <br />
        <label>اوقات السفرة:</label>
        <br />
        <label>صباحاً:</label>
        <label> من الساعة </label>
        @ViewBag.DAY_TRIP_FROM
        <label>الى الساعة </label>
        @ViewBag.DAY_TRIP_TO
        <br />

        <label>مساءاً:</label>

        <label> من الساعة </label>
        @ViewBag.NIGHT_TRIP_FROM
        <label>الى الساعة </label>
        @ViewBag.NIGHT_TRIP_TO
        <br />
        <label> مدة التعاقد: </label>
        <label>@ViewBag.CONTRACT_PERIOD</label>
        <label> شهراً </label>
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2022)
    {
        <label>رمز المركبة: @ViewBag.carnb</label>
        <label>رقم اللوحة: @ViewBag.tabnb</label>
        <br />
        <label>الخط الحالي للمركبة</label><br />
        foreach (var item7 in ViewBag.LineName)
        {
            <label>@item7.NAME</label>
            <br />
            <p> مسار الخط: @item7.LINEPATH</p>
        }
        <br />
        <label>المحافظات المرتبطة بالخط:</label>
        <br />
        foreach (var city in ViewBag.LineCity)
        {
            <label>@city</label>
        }

        <label>البلد الذي سيتم السفر له:  </label><br />
        @ViewBag.TRAVEL_COUNTRY
        <br />
        <label>تاريخ السفر:  </label>
        @ViewBag.TRAVEL_MONTH
        <br />


        <label>المنفذ الحدودي:  </label>
        @ViewBag.TRAVEL_BOARDER
        <br />

        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    @if (ViewBag.ProcedNb == 2000)
    {



        <label>رقم البريد:  </label>

        @ViewBag.POSTNO
        <label> تاريخ البريد: </label>
        @ViewBag.POSTDATE

        <br />
        <label>المرسل: </label>
        @ViewBag.SENDER
        <br />
        <label>مضمون البريد: </label>
        <br />
        @ViewBag.POSTMAIL
        <div class="row" style="background-color:darkgrey; height:1px; margin:10px; opacity:0.5;">
        </div>

        @*<label>الخط الجديد: </label>
            <br />
            <label>  @ViewBag.LineNew</label>
            <br />
            <label>المحافظات المرتبطة بالخط:</label>
            <br />
            foreach (var city1 in ViewBag.NEWLineCity)
            {
                <label>@city1</label>
            }*@
    }
    <div class="window-footer">
        <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>
    </div>
</div>
