
@{
    ViewBag.Title = "الجلسات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PartialHeader{
    <div class="panel-heading1 collapse" id="searchPanel">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-1">
                    <label for="template_name"> رقم الجلسة</label>
                </div>
                <div class="col-md-2">
                    @Html.Kendo().TextBox().Name("SSESNO").HtmlAttributes(new { placeholder = " رقم الجلسة" })
                </div>
                <div class="col-md-1">
                    <label for="template_name"> المحافظة</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة الجلسة")
                                    .Name("SSESCITYNB")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-1">
                    <label for="template_name"> التاريخ من</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SSESDATEStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الجلسة من", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
                <div class="col-md-1">
                    <label for="template_name"> التاريخ الى</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SSESDATEEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الجلسة الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label for="template_name"> حالة اللجنة</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر  حالة الجلسة")
                                    .Name("SSESStatus")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetStatus", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>

                <div class="col-md-offset-7">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>
                </div>
                <div class="col-md-1">
                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
        </div>
    </div>
}



<!-- Grid  -->
<div>
    @(Html.Kendo().Grid <Proced.DataAccess.Models.CF.TRSESSIONS>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Template(t => { }).Title("م.").ClientTemplate(
                 "#= renderNumber(data) #"
               ).Width(80);
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.SESNO);
                columns.Bound(c => c.SESDATE).Format("{0:dd/MM/yyyy}");
                columns.ForeignKey(c => c.SESCITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة");
                columns.Bound(c => c.COMMITTEENB).Visible(false);
                columns.Bound(c => c.STATUS).Visible(false);
                columns.ForeignKey(c => c.STATUS, (System.Collections.IEnumerable)ViewData["STATUS"], "ID", "NAME").Title("الحالة");
                columns.Bound(c => c.ORDR).Visible(false);
                columns.Bound(c => c.COMBOSSNAME).Width(400);

                columns.Bound(c => c.IUSER).Visible(false);
                columns.Bound(c => c.IDATE).Format("{0:dd/MM/yyyy}");
                columns.Command(command =>
                {
                    //command.Custom("Preview").Click("Preview").Text(" ");
                    command.Custom("Edit").Click("Edit").Text(" ");
                    command.Custom("Delete").Click("Delete").Text(" ");
                    command.Custom("DetailsMembers").Click("DetailsMembers").Text(" ");
                      command.Custom("Details2").Click("Details2").Text(" ");
                }).Width(180);
            })
            .HtmlAttributes(new { style = "height: aotu  !important;" })
            .Scrollable()
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            .Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("Read", "TRSESSIONS").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  " + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>

@Html.Partial("_AddSession")
@Html.Partial("_EditSession")
@Html.Partial("_DetailsSessionMembers")




<script>

    function GetFillters() {
        var fillter = {};
        fillter.SESNO = $('#SSESNO').val();
        fillter.SESDATESTART = $('#SSESDATEStart').val();
        fillter.SESDATEEND = $('#SSESDATEEnd').val();
        fillter.STATUS = $('#SSESStatus').val();
        fillter.SESCITYNB = $('#SSESCITYNB').val();

        return fillter;

    }

    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.read();
    }

    function rest_filtters() {
        $('#SSESNO').val("");
        $('#SSESDATEStart').val("");
        $('#SSESDATEEnd').val("");
        $("#SSESStatus").data("kendoDropDownList").value(-1);
        $("#SSESCITYNB").data("kendoDropDownList").value(-1);
        $("#grid").data("kendoGrid").dataSource.data([]);
    }
</script>



<script>
    var iid = 0;
    function GetSessNbRead() {
        return {
            NB: iid
        }
    }
</script>

<!-- show and close Window-->
<script>

    $("#AddNew").click(function () {
        $('#AddSesNo').val("");
        $('#AddSesDate').val("");
        $("#AddSesCity").data("kendoDropDownList").value(1)
        $("#Add_Session span.k-tooltip-validation").hide();
        var wnd = $("#AddSession").data("kendoWindow");
        wnd.center().open();
    });



    function Edit(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        var id = item.NB;
        alert(item.SESCITYNB);

        $('#SesNb').val(item.NB);
        $('#EditSesNo').val(item.SESNO);

        $("#EditSesDate").kendoDatePicker({ format: "dd/MM/yyyy", value: item.SESDATE });

        $("#EditSesCity").data("kendoDropDownList").value(item.SESCITYNB);

        var wnd = $("#EditSession").data("kendoWindow");
        wnd.center().open();

    }

    function Delete(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        var id = item.NB;

    }
    function DetailsMembers(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        iid = item.NB;


        $("#Detailsgrid").data("kendoGrid").dataSource.read();

        var wnd = $("#DetailsMemberSession").data("kendoWindow");
        wnd.center().open();
    }

    function Details2(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
       


        window.open("@Url.Action("TRSESSIONSPROCEDS", "TRSESSIONS")" + "?id=" + item.NB , "_blank");


    }


    function ColseWindow() {

        var wnd = $("#AddSession").data("kendoWindow");
        wnd.center().close();



    }
</script>
<script>
    function renderNumber(data) {

        return data.Seq;
    }
</script>
