
@{
    ViewBag.Title = "الجلسات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> رقم الجلسة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @Html.Kendo().TextBox().Name("SSESNO").HtmlAttributes(new { placeholder = " رقم الجلسة" })
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> المحافظة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة الجلسة")
                                    .Name("SSESCITYNB")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> التاريخ من</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DatePicker()
                        .Name("SSESDATEStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الجلسة من", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> التاريخ الى</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DatePicker()
                        .Name("SSESDATEEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الجلسة الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> حالة الجلسة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر  حالة الجلسة")
                                    .Name("SSESStatus")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetStatus", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> حالة الارشفة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر حالة الارشفة")
                                    .Name("StrSessArc")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "مؤرشفة",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "غير مؤرشفة",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                <div class="col-lg-2 col-md-4">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>
                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>
                </div>
            </div>
        </div>
    </div>
}



<!-- Grid  -->
<div class="all-page-hi">
    @(Html.Kendo().Grid <Proced.DataAccess.Models.CF.TRSESSIONS>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Template(t => { }).Title("م.").ClientTemplate(
                 "#= isArchived(data) #"
               ).Width(80);
                columns.Bound(c => c.FTP_PATH).Visible(false);
                columns.Bound(c => c.IS_ARCHIVED).Visible(false);
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.SESNO).Width(150);
                columns.Bound(c => c.SESDATE).Format("{0:dd/MM/yyyy}").Width(150);
                columns.ForeignKey(c => c.SESCITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150);
                columns.Bound(c => c.COMMITTEENB).Visible(false);
                columns.Bound(c => c.STATUS).Visible(false);
                columns.ForeignKey(c => c.STATUS, (System.Collections.IEnumerable)ViewData["STATUS"], "ID", "NAME").Title("الحالة").Width(150);
                columns.Bound(c => c.ORDR).Visible(false);
                columns.Bound(c => c.COMBOSSNAME).Width(400);
                columns.Bound(c => c.IUSER).Visible(false);
                columns.Bound(c => c.IDATE).Format("{0:dd/MM/yyyy}").Width(150);
                columns.Command(command =>
                {
                    //command.Custom("Preview").Click("Preview").Text(" ");
                    command.Custom("Edit").Click("Edit").Text(" ");
                    command.Custom("").Click("").Text("|");
                    //  command.Custom("Delete").Click("Delete").Text(" ");
                    command.Custom("DetailsMembers").Click("DetailsMembers").Text(" ");
                    command.Custom("").Click("").Text("|");
                    command.Custom("Details2").Click("Details2").Text(" ");
                    command.Custom("").Click("").Text("|");
                    command.Custom("Deletear").Click("DeleteARCHIVED").Text(" ");
                }).Width(180);
            })
            .HtmlAttributes(new { style = "height: 500px !important;" })
            .Scrollable()
            .Sortable()
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(20)
            .Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("Read", "TRSESSIONS").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  " + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons2")
            .DataBound("setIcons2")
            .Sort("setIcons2")
            .Filter("setIcons2")
            .Group("setIcons2")
            .Page("setIcons2")
            .Cancel("setIcons2")
        //.Edit("hideIdField")
        )
)

</div>

@Html.Partial("_AddSession")
@Html.Partial("_EditSession")
@Html.Partial("_DetailsSessionMembers")


<div class="k-rtl">
    @(Html.Kendo().Window().Name("DeleteArc")
            .Title("حذف الارشفة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="delete_S">
               <div>
                    @Html.Hidden("DeleteArcSesNb")
                   <div class="col-md-11" >
                   <h1 style="text-align:center"> هل انت متأكد من هذف أرشفة هذه الجلسة؟ </h1>


                   </div>


               <div class="window-footer">
                   <button class="btn btn-primary" onclick="DeleteArcSession()" style="font-size:30px">نعم</button>
                   <button class="btn btn-danger" onclick="ColseWindow()" style="font-size:30px"> لا    </button>

               </div>
               </div>
           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(600)
            .Height(300)
            .Pinned()
            )

</div>

<script>
 
    function setIcons2() {
        setIcons();
        $(".k-grid-Deletear").addClass(" hvr-box-shadow-outset");
        $(".k-grid-Deletear").kendoButton({
            icon: "i fa fa-trash text-danger"
        });
        $(".k-grid-Deletear").kendoTooltip({
            content: "حذف الارشفة",
            position: "left",
            autoHide: true,
        });
    }
    function GetFillters() {
        var fillter = {};
        fillter.SESNO = $('#SSESNO').val();
        fillter.SESDATESTART = $('#SSESDATEStart').val();
        fillter.SESDATEEND = $('#SSESDATEEnd').val();
        fillter.STATUS = $('#SSESStatus').val();
        fillter.SESCITYNB = $('#SSESCITYNB').val();
        fillter.StrSessArc = $('#StrSessArc').val();

        
        return fillter;
    }
    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.page([1]);
    }

    function rest_filtters() {
        $('#SSESNO').val("");
        $('#SSESDATEStart').val("");
        $('#SSESDATEEnd').val("");
        $("#SSESStatus").data("kendoDropDownList").value(-1);
        $("#SSESCITYNB").data("kendoDropDownList").value(-1);
        $("#StrSessArc").data("kendoDropDownList").value(-1);

        
        $("#grid").data("kendoGrid").dataSource.data([]);
    }
</script>



<script>
    var iid = 0;
    function GetSessNbRead() {
        return {
            NB: iid
        }
    }
</script>

<!-- show and close Window-->
<script>

    function openWindow(Id) {
        var pagewidth = document.body.offsetWidth;
        if (pagewidth >= 1000)
            $("#" + Id).data("kendoWindow").center().open();
        else
            $("#" + Id).data("kendoWindow").center().open().maximize();
    }

    $("#AddNew").click(function () {



        $.when(HtmlPageCanDoIt("TRSESSIONS", "Create", "")).done(function (s1) {
            if (s1 == "False") {


            }
            else {
                 $.ajax({
            url: '@Url.Action("Get_TimeAndNoToSession", "TRSESSIONS")',

                     

                    success: function (response) {
                        if (response.success == true)
                        {
                            var todayDate = response.sesTime ;

                            //var todayDate = kendo.toString(kendo.parseDate(new Date()), 'dd/MM/yyyy');
                            $("#AddSesDate").data("kendoDatePicker").value(todayDate);
                            var pagewidth = document.body.offsetWidth;
                            $('#AddSesNo').val("");
                            //  $('#AddSesDate').val("");
                            $("#AddSesCity").data("kendoDropDownList").value(1)
                            $("#Add_Session span.k-tooltip-validation").hide();
                            openWindow('AddSession');



                        } else {
                       
                        }


                    }
                 });


                
                
            }

        });



    });



    function Edit(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        var id = item.NB;
        $.when(HtmlPageCanDoIt("TRSESSIONS", "EditSession", "")).done(function (s1) {

            if (s1 == "False") {


            }
            else {


                if (item.STATUS == 1) {
                    $('#SesNb').val(item.NB);
                    $('#EditSesNo').val(item.SESNO);
                    $("#EditSesDate").kendoDatePicker({ format: "dd/MM/yyyy", value: item.SESDATE });
                    //$("#EditSesCity").data("kendoDropDownList").value(item.SESCITYNB);
                    var wnd = $("#EditSession").data("kendoWindow");
                    wnd.center().open();
                }
                else {
                    toastr.error("لا يمكن تعديل الجلسة لانها ليست فعالة");
                }
            }

        });




    }
    function DeleteARCHIVED(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        var id = item.NB;


        $.when(HtmlPageCanDoIt("TRSESSIONS", "DeleteDocument", "")).done(function (s1) {

            if (s1 == "False") {


            }
            else {

                if (item.IS_ARCHIVED == false) {
                    toastr.error("لا يوجد ارشفة للجلسة");
                } else {
                    $('#DeleteArcSesNb').val(item.NB);
                    $("#DeleteArc").data("kendoWindow").center().open();
                }
            }

        });




    }

    function DeleteArcSession() {

        var delarcses = $('#DeleteArcSesNb').val();

        $("#DeleteArc").data("kendoWindow").center().close();
         $.ajax({
            url: '@Url.Action("DeleteDocument", "TRSESSIONS")',

             data: { sesnb: delarcses},

            success: function (response) {
                if (response.success == true) {
                    toastr.success(response.responseText);
                    $("#grid").data("kendoGrid").dataSource.read();
                } else {
                    toastr.error(response.responseText);

                }


            }
         });
    }

    function DetailsMembers(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row
        iid = item.NB;
        $("#Detailsgrid").data("kendoGrid").dataSource.read();
        var wnd = $("#DetailsMemberSession").data("kendoWindow");
        wnd.center().open();
    }

    function Details2(e) {
        var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = this.dataItem(tr);          // get the date of this row

        $.when(HtmlPageCanDoIt("TRSESSIONS", "TRSESSIONSPROCEDS", "")).done(function (s1) {

            if (s1 == "False") {


            }
            else {

             window.open("@Url.Action("TRSESSIONSPROCEDS", "TRSESSIONS")" + "?id=" + item.NB, "_blank");
            }

        });

    }


    function ColseWindow() {
        var wnd = $("#AddSession").data("kendoWindow");
        wnd.center().close();
        $("#EditSession").data("kendoWindow").center().close();
        $("#DeleteArc").data("kendoWindow").center().close();
    }
</script>
<script>
    function renderNumber(data) {
        return data.Seq;
    }
</script>
<script>
    function isArchived(data) {
        var isArchived = false;
        if (data != null && data.IS_ARCHIVED == true) {
            isArchived = true;
        }

        if (isArchived) {
            return "<a  class='stepLnk' data-toggle='tooltip' onclick='showdoc(" + data.NB+")' title='مؤرشفة' href='#'><i class='fa fa-folder'></i> " + data.Seq + "</a>";
        }
        else {
            return data.Seq;
        }

    }
     function showdoc(NB) {

       
        window.open("@Url.Action("GetReport", "TRSESSIONS")" + "?NB=" + NB , "_blank");

    }

</script>