@model IEnumerable<Passengers.ViewModel.ListPROCEDS_Print_ALL>
@{
    ViewBag.Title = "طباعة محضر الجلسة";
    Layout = null;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.rtl.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="@Url.Content("~/Content/toastr.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>

</head>
<style>


    .table1 {
        /*border: 1px solid #ccc;*/
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin-top:10px;
        border : 0.5px;
    }

    th {
        text-align: center;
        
    }

    tr {
        page-break-inside: avoid;
    }



    .col-md-3 {
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 50px !important;
        margin-top: 10px !important;
    }








    #fallPage {
        z-index: 999999999999999999999999 !important;
    }
  /*  @@media print {
         .visible-print {
            display: block;
        }
        .hidden-print {
            display: none !important;
        }
        #footer {
            position: absolute;
            bottom: 50px;
        }
    }*/

  /*   @@media print {
        table {
            page-break-after: always;
        }
    }*/

        .inner-border {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .inner-border {
            position: relative;
            border: 2px solid #DE9B72;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .vertical-decoration {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 11em;
        }

            .vertical-decoration.top {
                top: 0;
            }

        @@media (min-width: 768px) {
            .vertical-decoration {
                width: 16em;
            }
        }


        @@media (min-width: 992px) {
            .vertical-decoration {
                width: 20em;
            }
        }

        @@media (min-width: 1200px) {
            .vertical-decoration {
                width: 27em;
            }
        }

        .vertical-decoration.top {
            top: 0;
        }

        .vertical-decoration.bottom {
            bottom: 0;
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }



</style>

<header>

</header>


<body>


    <table width="100%" height="100%" style="padding: 20px; " dir="rtl">
        <tr class="dark-background ,linear-gradient(to right, rgba(58, 61, 62, 1) 0%, rgba(58, 61, 62, 1) 100%);" style=" margin:15px;">
            <td>
                <div class="inner-border">
                    <img class="vertical-decoration top" src="@ViewBag.IMG">
                    <div>
                        <table width="100%" height="100%" style="padding:20px">
                            <tr height="25%" style="margin-top:0;">
                                <td style="top: 0px; font-size: large; font-weight: bold;">
                                    <label>الجمهورية العربية السورية</label><br />
                                    <label> مديرية نقل </label>   @ViewBag.SessionCity <br />
                                    <label>لجنة تنظيم نقل الركاب المشترك</label><br />
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr height="25%">
                                <td colspan="3" style="text-align: center; font-size: large; font-weight: bold;">
                                    <p>محضر جلسة رقم /  @ViewBag.SessionNo / تاريخ :  @ViewBag.SessionDate</p>
                                    <p>
                                        عقد لجنة نقل الركاب المشترك @ViewBag.SessionCity اجتماعاً بجلستها رقم / @ViewBag.SessionNo / تاريخ @ViewBag.SessionDate برئاسة:
                                    </p>
                                    <p>
                                        @ViewBag.SessionBossName
                                    </p>
                                </td>
                            </tr>
                            <tr height="50%" style="font-size: large; font-weight: bold;">
                                <td colspan="2">
                                    <p>وعضوية السادة:</p>
                                    @foreach (var item in ViewBag.SessionMemers)
                                    {
                                        <p>@item</p>
                                    }

                                </td>
                                <td>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <img class="vertical-decoration bottom" src="@ViewBag.IMG">
                </div>


            </td>
        </tr>

    </table>


    @foreach (var item in Model)
    {


        <table border="1" style="text-align:center" class="table" width="100%">
            <tr>
                <td style="padding:10px" width="50%">
                    طلبات :   @item.proname
                </td>
                <td colspan="15" style="padding:5px" width="50%">
                    عدد الطلبات : @item.pro.Count
                </td>
            </tr>
        </table>

        if (item.pronb == 2001)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">

                <thead>
                    <tr>
                        <th style="text-align:center">@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th style="text-align:center">@Html.DisplayNameFor(model => model.pro[0].LINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].TYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NEWLINECITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>


                        <th width="25%">@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.LINENAME</td>
                            <td>@item2.TYP</td>
                            <td>@item2.NEWLINECITY</td>
                            <td>@item2.AGREEMENTINPROCED</td>
                            <td>@item2.NOTES</td>

                            <td>@item2.PSTATUS</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="7" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>

            </table>
        }
        if (item.pronb == 2002)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">

                <thead>
                    <tr>

                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th width="25%">@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.LINENAME1</td>
                            <td>@item2.LINETYP1</td>
                            <td>@item2.LINE1CITY</td>
                            <td>@item2.COUNTCARLINE1</td>
                            <td>@item2.AGREEMENTINPROCED</td>
                            <td>@item2.NOTES</td>


                            <td>@item2.PSTATUS</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="8" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        if (item.pronb == 2003)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">

                <thead>
                    <tr>

                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].TYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.LINENAME1</td>
                            <td>@item2.LINETYP1</td>
                            <td>@item2.LINE1CITY</td>
                            <td>@item2.COUNTCARLINE1</td>
                            <td>@item2.LINENAME</td>
                            <td>@item2.TYP</td>
                            <td>@item2.AGREEMENTINPROCED</td>
                            <td>@item2.NOTES</td>

                            <td>@item2.PSTATUS</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="10" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        if (item.pronb == 2004)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">

                <thead>
                    <tr>

                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME2)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP2)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE2CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE2)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].TYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.LINENAME1</td>
                            <td>@item2.LINETYP1</td>
                            <td>@item2.LINE1CITY</td>
                            <td>@item2.COUNTCARLINE1</td>
                            <td>@item2.LINENAME2</td>
                            <td>@item2.LINETYP2</td>
                            <td>@item2.LINE2CITY</td>
                            <td>@item2.COUNTCARLINE2</td>
                            <td>@item2.LINENAME</td>
                            <td>@item2.TYP</td>
                            <td>@item2.AGREEMENTINPROCED</td>
                            <td>@item2.NOTES</td>

                            <td>@item2.PSTATUS</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="14" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        if (item.pronb == 2006)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                        



                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].MAXCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].MINCARLINE1)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].DURATIONNB)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].DURATIONMONTHS)</th>


                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th width="5%">@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>

                        <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                       


                        <td>@item2.LINENAME1</td>
                        <td>@item2.LINETYP1</td>
                        <td>@item2.LINE1CITY</td>

                        <td>@item2.MAXCARLINE1</td>
                        <td>@item2.MINCARLINE1</td>

                        <td>@item2.DURATIONNB</td>
                        <td>@item2.DURATIONMONTHS</td>


                        <td>@item2.COUNTCARLINE1</td>

                        <td>@item2.AGREEMENTINPROCED</td>
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="17" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <br />

        }
        if (item.pronb == 2008)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                      

                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th width="5%">@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>
                        <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                       

                        <td>@item2.LINENAME1</td>
                        <td>@item2.LINETYP1</td>
                        <td>@item2.LINE1CITY</td>
                        <td>@item2.COUNTCARLINE1</td>

                        <td>@item2.AGREEMENTINPROCED</td>
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="13" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>

                </tbody>
            </table>

            <br />
            <br />

        }

        if (item.pronb == 2012)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                      
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>
                        <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                        

                        <td>@item2.LINENAME1</td>
                        <td>@item2.LINETYP1</td>
                        <td>@item2.LINE1CITY</td>
                        <td>@item2.COUNTCARLINE1</td>

                        <td>@item2.AGREEMENTINPROCED</td>
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="13" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <br />

        }

        if (item.pronb == 2014)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                    

                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>
                        <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                      
                        <td>@item2.LINENAME1</td>
                        <td>@item2.LINETYP1</td>
                        <td>@item2.LINE1CITY</td>
                        <td>@item2.COUNTCARLINE1</td>

                        <td>@item2.AGREEMENTINPROCED</td>
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="13" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <br />

        }
        if (item.pronb == 2016)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
               

                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINETYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINECITY)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>
                        <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                        

                        <td>@item2.CARLINENAME</td>
                        <td>@item2.CARLINETYP</td>
                        <td>@item2.CARLINECITY</td>

                        <td>@item2.LINENAME1</td>
                        <td>@item2.LINETYP1</td>
                        <td>@item2.LINE1CITY</td>
                        <td>@item2.COUNTCARLINE1</td>
                        <td>@item2.AGREEMENTINPROCED</td>
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="16" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>

                </tbody>
            </table>

            <br />
            <br />

        }

        if (item.pronb == 2018)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                  

                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINETYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINECITY)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].DURATIONNB)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].DURATIONMONTHS)</th>



                        <th>@Html.DisplayNameFor(model => model.pro[0].MAXCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].MINCARLINE1)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>
                        <td>@item2.TABNB  @item2.ENGINEFEUL  @item2.FACCOMPNAME  @item2.FACTYY  @item2.SITES </td>
                        
                       
                        <td>@item2.CARLINENAME</td>
                        <td>@item2.CARLINETYP</td>
                        <td>@item2.CARLINECITY</td>

                        <td>@item2.LINENAME1</td>
                        <td>@item2.LINETYP1</td>
                        <td>@item2.LINE1CITY</td>

                        <td>@item2.DURATIONNB</td>
                        <td>@item2.DURATIONMONTHS</td>


                        <td>@item2.MAXCARLINE1</td>
                        <td>@item2.MINCARLINE1</td>

                        <td>@item2.COUNTCARLINE1</td>
                        <td>@item2.AGREEMENTINPROCED</td>
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="20" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>

                </tbody>
            </table>

            <br />
            <br />

        }

        if (item.pronb == 2023)
        {
            <table border="1" style="text-align:center;font-size:22px " class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                     

                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINETYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINECITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CONTRACT_PERIOD)</th>
                        <th>اوقات السفرة</th>
                      
                        <th>@Html.DisplayNameFor(model => model.pro[0].TRIP_PATH)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CAUSES)</th>

                        
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                    <tr>
                        <td>@item2.ORDR</td>
                        <td>@item2.CARNB</td>
                        <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                     
                        <td>@item2.CARLINENAME</td>
                        <td>@item2.CARLINETYP</td>
                        <td>@item2.CARLINECITY</td>
                        <td>@item2.CONTRACT_PERIOD</td>

                        <td> لسفرتين يومياً من الساعة @item2.DAY_TRIP_FROM صباحاً الى الساعة @item2.DAY_TRIP_TO ومن الساعة @item2.NIGHT_TRIP_FROM ظهراً الى الساعة @item2.NIGHT_TRIP_TO </td>
                        

                        <td>@item2.TRIP_PATH</td>
                        <td>@item2.CAUSES</td>

                       
                        <td>@item2.NOTES</td>

                        <td>@item2.PSTATUS</td>
                    </tr>
                    }
                    @*<tr>
                        <td colspan="18" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>*@

                </tbody>
            </table>

            <br />
            <br />

        }
        if (item.pronb == 2022)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        <th>مواصفات المركبة</th>
                       
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINENAME)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINETYP)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].CARLINECITY)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].TRAVEL_MONTH)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].TRAVEL_COUNTRY)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].TRAVEL_BOARDER)</th>


                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.CARNB</td>
                            <td>@item2.TABNB @item2.ENGINEFEUL @item2.FACCOMPNAME @item2.FACTYY @item2.SITES</td>
                         
                            <td>@item2.CARLINENAME</td>
                            <td>@item2.CARLINETYP</td>
                            <td>@item2.CARLINECITY</td>

                            <td>@item2.TRAVEL_MONTH</td>
                            <td>@item2.TRAVEL_COUNTRY</td>

                            <td>@item2.TRAVEL_BOARDER</td>


                            <td>@item2.AGREEMENTINPROCED</td>
                            <td>@item2.NOTES</td>

                            <td>@item2.PSTATUS</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="15" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>

                </tbody>
            </table>

            <br />
            <br />

        }
        if (item.pronb == 2000)
        {
            <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].POSTMAIL)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].SENDER)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].POSTNO)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].POSTDATE)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.POSTMAIL</td>
                            <td>@item2.SENDER</td>
                            <td>@item2.POSTNO</td>
                            <td>@Convert.ToDateTime(item2.POSTDATE).ToString("dd/MM/yyyy")</td>


                            <td>@item2.NOTES</td>

                            <td>@item2.PSTATUS</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="7" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>

                </tbody>
            </table>

            <br />
            <br />

        }
        if (item.pronb == 2020)
        { <table border="1" style="text-align:center" class="table" width="100%" dir="rtl">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.pro[0].ORDR)</th>


                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB)</th>
                        @*    <th>@Html.DisplayNameFor(model => model.pro[0].ENGINEFEUL)</th>
        <th>@Html.DisplayNameFor(model => model.pro[0].FACCOMPNAME)</th>
        <th>@Html.DisplayNameFor(model => model.pro[0].FACTYY)</th>*@
                        <th>مواصفات المركبة</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP1)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE1CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE1)</th>


                        <th>@Html.DisplayNameFor(model => model.pro[0].CARNB2)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINENAME2)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINETYP2)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].LINE2CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].COUNTCARLINE2)</th>







                        <th>@Html.DisplayNameFor(model => model.pro[0].AGREEMENTINPROCED)</th>
                        <th>@Html.DisplayNameFor(model => model.pro[0].NOTES)</th>

                        <th>@Html.DisplayNameFor(model => model.pro[0].PSTATUS)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item2 in item.pro)
                    {
                        <tr>
                            <td>@item2.ORDR</td>
                            <td>@item2.CARNB</td>
                            <td> @item2.TABNB  @item2.ENGINEFEUL  @item2.FACCOMPNAME  @item2.FACTYY @item2.SITES</td>

                            @*<td>@item2.TABNB</td>
                                <td>@item2.ENGINEFEUL</td>
                                <td>@item2.FACCOMPNAME</td>
                                <td>@item2.FACTYY</td>*@
                            <td>@item2.LINENAME1</td>
                            <td>@item2.LINETYP1</td>
                            <td>@item2.LINE1CITY</td>
                            <td>@item2.COUNTCARLINE1</td>


                            <td>@item2.CARNB2</td>
                            <td>@item2.LINENAME2</td>
                            <td>@item2.LINETYP2</td>
                            <td>@item2.LINE2CITY</td>
                            <td>@item2.COUNTCARLINE2</td>





                            <td>@item2.AGREEMENTINPROCED</td>
                            <td>@item2.NOTES</td>

                            <td>@item2.PSTATUS</td>
                        </tr>
                    }

                    <tr>
                        <td colspan="18" style="padding:5px">
                            العدد الكلي لهذه المعاملة : @item.pro.Count
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />
            <br />

        }

    }



<table style="text-align:center" width="100%" dir="rtl">
    <tr>
        <td class="container222">
            @foreach (var item in ViewBag.sigSessionMemers)
            {
                <div class="column22" style="text-align:center; width:20%; font-size:x-large; font-weight:bold;">
                    @Html.Raw(@item.Replace(Environment.NewLine, "<br/>"))
                </div>
            }
        </td>
    </tr>
</table>
</body>



<style>
    .container222 {
        display: table;
        height: 200px;
      
    }

    .column22 {
        display: inline-block;
        margin-top:15px;
        margin-bottom:80px;
    }

   

    .container222 td {
        width: 100px;
        border: 2px solid blue;
    }
</style>


<script>
    //$(function () {
    //    window.print();
    //    window.onafterprint = function () {

    //        window.close();
    //    }
    //});

    $(document).ready(function () {
        if (window.opener != null && !window.opener.closed) {
            window.opener.location.reload();
        }
        window.onbeforeunload = RefreshParent;
    });

</script>


<script>

    //$(function () {
    //    window.focus();
    //    window.print();

    //    try {
    //        setTimeout(function () {
    //            window.close();
    //        }, 2000);
    //    } catch (e) {
    //    }
    //});


</script>

