
@{
    ViewBag.Title = "طلبات الجلسة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    .myborder {
        border: dashed;
        border-color: aquamarine;
        width: 25%;
        padding-top: 5px;
        padding-right: 5px;
    }
</style>


<style>

    .bordered {
        border: 1px dashed #a0ddd8;
        transition: all ease-in-out 0.3s;
    }

    .row.SessionInfo > .bordered {
        border: 1px dashed #ccc;
    }

        .row.SessionInfo > .bordered:hover {
            border: 2px dashed #5264f3;
            background-color: #bbc6cc;
        }

    .row.SessionInfo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

        .row.SessionInfo > [class*='col-'] {
            display: flex;
            flex-direction: column;
            padding-top: 7px;
        }
    .k-grid-content {
        height: auto !important;
        overflow-y: auto !important;
        /*min-height: 150px !important;*/
       
    }
    .k-grid {
        margin-bottom: 70px;
    }
    
</style>

@section PartialHeader{
    <!--Session Info -->
    <div class="panel-heading1 " id="searchPanel">
        <div>
            <table width="100%">
                <tr>
                    <td width="80%">
                        <div class="row SessionInfo" style="margin:0;">
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                <span><label>رقم الجلسة:</label> <span class="text-primary" id="currentCarProcedIdMoz">@ViewBag.SessionNo</span></span>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                <span><label>تاريخ الجلسة:</label> <span class="text-primary" id="currentCarProcedIdMoz">@ViewBag.SessionDate</span></span>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                <span><label>رئيس الجلسة:</label> <span class="text-primary" id="currentCarProcedIdMoz">@ViewBag.SessionBossName</span></span>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                <span><label>حالة الجلسة:</label> <span class="text-primary" id="currentCarProcedIdMoz">@ViewBag.SessionStatus</span></span>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4" width="20%">
                        <div class="row SessionInfo" style="margin:0;">
                            <div class="col-md-12 col-sm-12 col-xs-12 bordered">
                                <table>
                                    <tr>
                                        <td>
                                            <label>مجموع الطلبات</label>
                                        </td>
                                        <td>
                                            <label id="totalcount"></label>
                                        </td>
                                    </tr>
                                    <tr class="alert-success">
                                        <td>
                                            <label>الموافقة</label>
                                        </td>
                                        <td>
                                            <label id="AGREE"></label>
                                        </td>
                                    </tr>
                                    <tr class="alert-danger">
                                        <td>
                                            <label>المرفوضة</label>
                                        </td>
                                        <td>
                                            <label id="NOTAGREE"></label>
                                        </td>
                                    </tr>
                                    <tr class="alert-info">
                                        <td>
                                            <label>المؤجلة</label>
                                        </td>
                                        <td>
                                            <label id="DELAYED"></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>قيد الدراسة</label>
                                        </td>
                                        <td>
                                            <label id="UNANSWERED"></label>
                                        </td>
                                    </tr>
                                   
                                        <tr>
                                            <td colspan="2">
                                                @if (ViewBag.IS_ARCHIVED == false)
                                                {
                                                    <div id="example">
                                                        @*<input value="اختر ملف" class="Files btn-upload" id="DocumentsFiles" name="DocumentsFiles" type="file" data-role="upload" multiple="multiple" autocomplete="off">*@


                                                    </div>

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-danger clear-file" style="display: none;"><i class="fa fa-close"></i></button>
                                                        <button type="button" class="btn btn-primary upload-btn" id="upload-btn22222">
                                                            <i class="fa fa-upload"></i> اختيار ملف <span class="selectedFileName" style="color:white"></span>
                                                        </button>
                                                    </div>
                                                    <input hidden accept=".PDF" id="DocumentsFiles" name="DocumentsFiles" type="file">
                                                    //  <input hidden type="file" name="DocumentsFiles" id="DocumentsFiles" accept="image/*,.pdf" class="form-control" />

                                                    @*<span class="btn btn-primary btn-file">
                اختر ملف . . <i class="fa fa-upload"></i> <input accept=".PDF" id="DocumentsFiles" name="DocumentsFiles" type="file">
            </span>*@
                                         
                                                <button class="btn btn-primary upload-btn" onclick="setvvv()"> حفظ ورفع الملف</button>
                                           
                                                        }
                                                        @if (ViewBag.IS_ARCHIVED == true)
                                                        {
                                                            <div>
                                                                <label style="text-align:center;color:red;font-size:14px;">

                                                                    المحضر مؤرشف
                                                                    <a class='stepLnk' data-toggle='tooltip' onclick='showdoc(@ViewBag.SessionID)' href='#'><i title="عرض الارشفة" style="font-size:25px;" class='fa fa-folder'></i></a>
                                                                </label>
                                                            </div>
                                                        }


                                                </td>
                                        </tr>
                                    
                                    

                                    </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        <div class="row SessionInfo" style="margin:0;">
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("Carnb").Min(0)
                                .HtmlAttributes(new { placeholder = "رمز المركبة", maxlength = "10", style = "width: 100%;" }))
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر نوع الطلب")
                                    .Name("SProcedtyps")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETZPROCEDTYPS", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("Carprocednb").Min(0)
                                .HtmlAttributes(new { placeholder = "رمز المعاملة", maxlength = "12", style = "width: 100%;" }))
                            </div>
                            <div class="col-md-1 col-sm-12 col-xs-12 bordered">
                                <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>
                            </div>
                            <div class="col-md-1 col-sm-12 col-xs-12 bordered">
                                <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>
                            </div>
                            <div class="col-md-1 col-sm-12 col-xs-12 bordered">
                                <button id="" class="btn btn-dark " onclick="export_exl()"> <i class="fa fa-file-excel-o"></i> </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        <div class="row SessionInfo" style="margin:0;">
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @if (ViewBag.SessionStatus == "فعال")
                                {
                                    <button id="procedsetting" onclick="GetPartialProcedCount()" class="btn btn-next">اعداد طلبات الجلسة</button>
                                }
                                @if (ViewBag.SessionStatus == "منتهي" && ViewBag.FINISH_PRINT == 1)
                                {

                                }



                                @if (ViewBag.SessionStatus == "منعقدة")
                                {
                                    <label style="text-align:center;color:red;font-size:14px;">

                                        يمكن طباعة المحضر بعد ادخال النتائج لتظهر النتيجة على المحضر
                                    </label>}
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @if (ViewBag.SessionStatus != "ملغى")
                                {
                                    <button id="PrintSession" onclick="PrintSession()" class="btn btn-primary">طباعة المحضر</button>
                                }
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @if (ViewBag.SessionStatus == "فعال")
                                {
                                    <button id="ConSession" onclick="openConSession()" class="btn btn-success">انعقاد الجلسة</button>
                                }
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 bordered">
                                @if (ViewBag.SessionStatus == "منعقدة")
                                {
                                    <button id="FinishSession1" onclick="openFinishSession()" style="display:none;" class="btn btn-success">حفظ الطلبات وانهاء الجلسة</button>
                                    <button id="FinishSession2" onclick="openFinishSession()" class="btn btn-success">حفظ الطلبات </button>

                                }
                                @if (ViewBag.SessionStatus == "فعال")
                                {
                                    <button id="CancelSession" onclick="openCancelSession()" class="btn btn-danger">الغاء الجلسة</button>

                                }
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        <div class="row SessionInfo" style="margin:0;">



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bordered">
                                @if (ViewBag.SessionStatus == "فعال" && ViewBag.SessionProExisting == 0)
                                {
                                    <label style="text-align:center;color:red;">

                                        يرجى ادخال عدد المعاملات المراد في هذه الجلسة
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "فعال" && ViewBag.SessionProExisting > 0 && ViewBag.SessionIsPrinted == 0)
                                {
                                    <label style="text-align:center;color:red;">

                                        يرجى طباعة المحضر من اجل دراسته من قبل اللجنة
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "فعال" && ViewBag.SessionIsPrinted > 0)
                                {
                                    <label style="text-align:center;color:red;">

                                        يرجى الضغط على انعقاد الجلسة من اجل ادخال نتائج الطلبات مع العلم انه عند بداية إدخال النتائج لا يمكن القيام بأي تغير على طلبات الجلسة او إلغائها
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "منعقدة")
                                {
                                    <label style="text-align:center;color:red;">

                                        يرجى ادخال نتائج الطلبات مع العلم انه لن يتم انهاء الجلسة الا في حال ادخال نتيجة جميع الطلبات
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "منتهي" && ViewBag.FINISH_PRINT == 1 && ViewBag.IS_ARCHIVED == true)
                                {
                                    <label style="text-align:center;color:red;">

                                        تم الانتهاء من الجلسة شكراً لكم.
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "منتهي" && ViewBag.FINISH_PRINT == 1 && ViewBag.IS_ARCHIVED == false)
                                {
                                    <label style="text-align:center;color:red;">

                                         الجلسة منتهية شكراً لكم ولكن (((يرجى أرشفة المحضر))) 
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "منتهي" && ViewBag.FINISH_PRINT == 0)
                                {
                                    <label style="text-align:center;color:red;">

                                        تم الانتهاء من جميع الطلبات يرجى طباعة المحضر النهائي.
                                    </label>
                                }
                                @if (ViewBag.SessionStatus == "ملغى")
                                {
                                    <label style="text-align:center;color:red;">

                                        نعتذر هذه الجلسة ملغاة.
                                    </label>
                                }
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

<fieldset>

    <div id="divPartial">
        <div class="k-rtl">
            @(Html.Kendo().Window().Name("ProcedInfo")
            .Title("تفاصيل")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Proced_Info">
            </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(1000)
            .Height(600)
            .Pinned()
            )
        </div>
    </div>
</fieldset>

<fieldset>
    <div id="divProcedCount">
        <div class="k-rtl">
            @(Html.Kendo().Window().Name("ProcedCount")
            .Title("تفاصيل")
            .Visible(false)

            .Modal(true)
            .Content(@<text>
           <div id="Proced_Count">
            </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(1000)
            .Height(600)
            .Pinned()
            )
        </div>
    </div>
</fieldset>

<!-- Grid  -->
<div style="padding-top:20px">
    @(Html.Kendo().Grid <Passengers.ViewModel.TRSESSIONS_PROCEDS_VM>()
            .Name("grid")
            .Columns(columns =>
            {

                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.ORDR).Title("م.").Width(50).Visible(false);
                columns.Bound(c => c.CARNB).Title("رمز المركبة").ClientTemplate("#= renderCarLink_ToProced(data) #").Width(150);
                columns.Bound(c => c.PROCEDNAME).Title("نوع المعاملة").ClientTemplate("#= renderCarLink1(data) #").Width(300);
                columns.Bound(c => c.PROCEDNB).Title("نوع المعاملة").Visible(false);
                columns.Bound(c => c.TYPSNAMEAGR).Width(100).Title("الموافقة");
                columns.Bound(c => c.SESSIONNB).Title("رمز الجلسة").Visible(false);
                columns.Bound(c => c.RECDAT).Format("{0:dd/MM/yyyy}").Title("تاريخ المعاملة").Width(150);
                columns.Bound(c => c.CARPROCEDNB).Title("رمز المعاملة").ClientTemplate("#= renderCarProcedLink_ToProced(data) #").Width(150);
                columns.Bound(c => c.CARPROCEDSTEPNB).Title("رمز الخطوة").Visible(false);
                columns.Bound(c => c.ISDONE).Title("منفذة").Visible(false);
                columns.Bound(c => c.NOTES).ClientTemplate("#= GETNOTES(data) #").Width(300).Title("ملاحظات");


                columns.ForeignKey(c => c.PSTATUS, (System.Collections.IEnumerable)ViewData["TRSESSIONSPROCEDSTATUS"], "ID", "NAME").Title("الحالة").Width(100);

                if (@ViewBag.SessionStatus == "منعقدة")
                {
                    columns.Bound(c => c.PSTATUS).ClientTemplate
                  (" # if (ISDONE != 1) if " +
                  "(1 == 1)" +
                  "{#<button id='' title='موافقة' class='btn btn-success' onclick='Agree(#=NB# , #=PROCEDNB# , #=CARPROCEDSTEPNB# )'> <i  class='fa fa-check'></i> </button> #" +
                  " #<button id='' title='عدم موافقة' class='btn btn-danger' onclick='NotAgree(#=NB#)'> <i  class='fa fa-close'></i> </button>  # " +
                  " #<button id='' title='تأجيل' class='btn btn-text-info' onclick='Delay(#=NB#)'> <i  class='fa fa-repeat'></i> </button># " +
                  "} #")
                .Sortable(false).Title(" ").Width(150).Filterable(false);

                }
            })
            //.Filterable()
            //.HtmlAttributes(new { style = "height: auto  !important;" })
            .HtmlAttributes(new { style = "height: auto !important;" })
            .Scrollable()
            //.Selectable(selectable => selectable
            //.Mode(GridSelectionMode.Multiple))

            .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(p => p.NB);
                model.Field(p => p.RECDAT).Editable(false);
                model.Field(p => p.PSTATUS).Editable(false);
                model.Field(p => p.CARPROCEDNB).Editable(false);
                model.Field(p => p.TYPSNAMEAGR).Editable(false);
                model.Field(p => p.PROCEDNB).Editable(false);
                model.Field(p => p.PROCEDNAME).Editable(false);
                model.Field(p => p.CARNB).Editable(false);



            })
            .PageSize(1000)
            .Read(read => read.Action("TRSESSIONSPROCEDS_Read", "TRSESSIONS").Data("GETSESSIONNB")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
            })

                .Events(events => events
            .Change("getcolor")
            .DataBound("getcolor")
            .Sort("getcolor")
            .Filter("getcolor")
            .Group("getcolor")
            .Page("getcolor")
            .Cancel("getcolor")
        )
)
   
</div>


<!-- fin -->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("fin")
            .Title("نهاء الجلسة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="delete_S">
               <div>

                   <div class="col-md-11" >
                   <h1 style="text-align:center">                هل انت متأكد من انهاء الجلسة؟       </h1>


                   </div>


               <div class="window-footer">
                   <button class="btn btn-primary" onclick="FinishSession()" style="font-size:30px">نعم</button>
                   <button class="btn btn-danger" onclick="ColseWindow()" style="font-size:30px"> لا    </button>

               </div>
               </div>
           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(600)
            .Height(300)
            .Pinned()
            )

</div>
<!-- con -->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("con")
            .Title("انعقاد الجلسة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="delete_S">
               <div>

                   <div class="col-md-11" >
                   <h1 style="text-align:center">                هل انت متأكد من انعقاد الجلسة؟       </h1>


                   </div>


               <div class="window-footer">
                   <button class="btn btn-primary" onclick="ConSession()" style="font-size:30px">نعم</button>
                   <button class="btn btn-danger" onclick="ColseWindow()" style="font-size:30px"> لا    </button>

               </div>
               </div>
           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(600)
            .Height(300)
            .Pinned()
            )

</div>
<!-- cancel -->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("cancel")
            .Title("الغاء الجلسة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="delete_S">
               <div>

                   <div class="col-md-11" >
                   <h1 style="text-align:center">هل انت متأكد من  <label style="color:red; font-weight:300">الغاء</label> الجلسة؟ </h1>


                   </div>


               <div class="window-footer">
                   <button class="btn btn-primary" onclick="CancelSession()" style="font-size:30px">نعم</button>
                   <button class="btn btn-danger" onclick="ColseWindow()" style="font-size:30px"> لا    </button>

               </div>
               </div>
           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(600)
            .Height(300)
            .Pinned()
            )

</div>

<script>
    $("#upload-btn22222").click(function (e) {
        e.preventDefault();
        $("#DocumentsFiles").trigger("click");
    });

    $('#DocumentsFiles').change(function (e) {
        try {
            var fileName = e.target.files[0].name;
            if (e.target.files && e.target.files.length > 0) {
                $(".clear-file").show();
            } else {
                $(".clear-file").hide();
            }
            $(".selectedFileName").text(fileName);
        } catch (ex) {
            $(".selectedFileName").text("");
            $(".clear-file").hide();
        }
    });
    $(".clear-file").kendoTooltip({
        content: "إلغاء تحديد الملف",
        position: "bottom",
        autoHide: true,
    });
    $(".clear-file").click(function () {
        $('#DocumentsFiles').val(null).trigger("change");
    });
    function GETSESSIONNB() {
        var fillter = {};
        fillter.nb =  @ViewBag.SessionID;
        fillter.carnb = $('#Carnb').val();
        fillter.carprocednb = $('#Carprocednb').val();
        fillter.procedtyp = $('#SProcedtyps').val();
        return fillter;
    }

    function Btn_Search()
    {
        $("#grid").data("kendoGrid").dataSource.read();
    }

    function rest_filtters()
    {
        $("#Carnb").data("kendoNumericTextBox").value("");
        $("#SProcedtyps").data("kendoDropDownList").value(-1);
        $("#Carprocednb").data("kendoNumericTextBox").value("");
        $("#grid").data("kendoGrid").dataSource.read();

    }

    function export_exl()
    {
          var exl = {};
        exl.nb =  @ViewBag.SessionID;
        exl.carnb = $('#Carnb').val();
        exl.carprocednb = $('#Carprocednb').val();
        exl.procedtyp = $('#SProcedtyps').val();
        window.location = '@Url.Action("TRSESSIONSPROCEDS_Exl", "TRSESSIONS")?pnb=' + exl.nb + '&pcarnb=' + exl.carnb + '&pcarprocednb=' + exl.carprocednb + '&pprocedtyp=' + exl.procedtyp;
    }
    function getcolor() {

        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.PSTATUS == "1")
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "#dff0d8");
            if (row.PSTATUS == "2")
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "#f2dede");
            if (row.PSTATUS == "3")
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "#bee5eb");
        })
        setIcons();
        GetCount();


    }
</script>
<script>
    function Agree(id) {
        var not = $('#input' + id).val();
        //var entityGrid = $("#grid").data("kendoGrid");
        //var rows = entityGrid.select();
        //rows.each(function (index, row) {
        //    var selectedItem = entityGrid.dataItem(row);
        //    alert(selectedItem.NOTES);
        //});
       
        var model = {
            nb: id,
            note: not

        }
           $.ajax({
                type: "POST",
               data: model,
                url: "@Url.Action("Agree", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {
                       // GetPartial();
                        $("#grid").data("kendoGrid").dataSource.page(1);

                        toastr.success("تمت العملية  بنجاح");
                    } else {
                        toastr.error(response.responseText);
                    }

                }
            });

    }
    function NotAgree(id) {
        var not = $('#input' + id).val();
        var model = {
            nb: id,
            note: not

        }
           $.ajax({
                type: "POST",
               data: model,
                url: "@Url.Action("NotAgree", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {

                        $("#grid").data("kendoGrid").dataSource.page(1);

                        toastr.success("تمت العملية  بنجاح");
                    } else {
                        toastr.error(response.responseText);
                    }

                }
            });
    }

    function Delay(id) {
        var not = $('#input' + id).val();
        alert(not)
        var model = {
            nb: id,
            note: not

        }
           $.ajax({
                type: "POST",
               data: model,
                url: "@Url.Action("Delay", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {

                        $("#grid").data("kendoGrid").dataSource.page(1);

                        toastr.success("تمت العملية  بنجاح");
                    } else {
                        toastr.error(response.responseText);
                    }

                }
            });
    }

    function GETNOTES(data) {
       
        if (data.ISDONE == 0)
        {
            
            var val = "";
        
            if (data.NOTES != null ) {
                val = data.NOTES;
            } 
            return "<input  id='input" + data.NB + "' class='k-formatted-value k-input'  type='text' value='" + val +"'/>";
        }
        if (data.ISDONE == 1)
        {
            var val = "";
            if (data.NOTES != null && data.NOTES != "" && data.NOTES != 'null') {
                val = data.NOTES;
            }
            return "<span  id='sinput" + data.NB + "' >" + val +" </span>";
        }
       
    }
</script>


<script>
    function GetCount() {
        var model = {
            ID: @ViewBag.SessionID

        };

        $.ajax({
                type: "GET",
            data: model,
                url: "@Url.Action("GetCount555", "TRSESSIONS")",
            success: function (response) {
                document.getElementById('totalcount').innerHTML = response.TOTALCOUNT;
                document.getElementById('DELAYED').innerHTML = response.DELAYED;
                document.getElementById('AGREE').innerHTML = response.AGREE;
                document.getElementById('NOTAGREE').innerHTML = response.NOTAGREE;
                document.getElementById('UNANSWERED').innerHTML = response.UNANSWERED;
                if (response.UNANSWERED == 0) {
                    $('#FinishSession1').css('display', 'block');
                    $('#FinishSession2').css('display', 'none');
                }
                }
            });}

</script>

<script>
    function CancelSession() {
        var id = @ViewBag.SessionID;
        var windowWidget = $("#cancel").data("kendoWindow");
        var model = {
           ID :id
        }
        kendo.ui.progress(windowWidget.element, true);
     $.ajax({
                type: "POST",
               data: model,
                url: "@Url.Action("CancelSession", "TRSESSIONS")",
                success: function (response) {
                    if (response.success) {
                        kendo.ui.progress(windowWidget.element, false);
                        location.reload()
                      //  $("#grid").data("kendoGrid").dataSource.page(1);

                        toastr.success("تمت العملية  بنجاح");
                    } else {
                        kendo.ui.progress(windowWidget.element, false);
                        toastr.error(response.responseText);
                    }

                }
            });
    }
    function ConSession() {
        var id = @ViewBag.SessionID;
        var windowWidget = $("#con").data("kendoWindow");
        var model = {
           ID :id
        }
        kendo.ui.progress(windowWidget.element, true);
                 $.ajax({
                            type: "POST",
                           data: model,
                            url: "@Url.Action("ConSession", "TRSESSIONS")",
                            success: function (response) {
                                if (response.success) {
                                    kendo.ui.progress(windowWidget.element, false);
                                    location.reload()
                                  //  $("#grid").data("kendoGrid").dataSource.page(1);

                                    toastr.success("تمت العملية  بنجاح");
                                } else {
                                    kendo.ui.progress(windowWidget.element, false);
                                    toastr.error(response.responseText);
                                }

                            }
                        });
    }
    function openFinishSession() {
        $("#fin").data("kendoWindow").center().open();

    }

    function openConSession() {
        $("#con").data("kendoWindow").center().open();

    }
    function FinishSession() {
        var id = @ViewBag.SessionID;
        var windowWidget = $("#fin").data("kendoWindow");
        var model =
        {
           ID :id
        }
        kendo.ui.progress(windowWidget.element, true);
                 $.ajax({
                            type: "POST",
                           data: model,
                            url: "@Url.Action("FinishSession", "TRSESSIONS")",
                            success: function (response) {
                                if (response.success) {
                                    kendo.ui.progress(windowWidget.element, false);
                                    location.reload()
                                    $("#grid").data("kendoGrid").dataSource.page(1);
                                    toastr.success("تمت العملية  بنجاح");
                                } else {
                                    toastr.error(response.responseText);
                                    kendo.ui.progress(windowWidget.element, false);
                                }
                            }
                  });
    }

    function PrintSession() {


        var id = @ViewBag.SessionID;
        window.open("PrintReportSession/" + id, "_blank");

    }

    function openCancelSession() {
        $("#cancel").data("kendoWindow").center().open();
    }
</script>

<script>

    function renderCarLink1(data) {
        return "<button style='Width:88%; text-algin:center;' onclick='GetPartialProcedinfo(" + data.CARPROCEDSTEPNB + "," + data.PROCEDNB + ")'  class='btn btn-sucsses' >" + data.PROCEDNAME + "</button> ";
    }
    function renderCarLink_ToProced(data) {
        if (data.CARNB != null) {
            var link = "<span style='margin: 15px;'><a id='car" + data.CARNB +"  target='_blank' href=/procedbase/Cars/Index/" + data.CARNB + "> ";

            link += "<span id='1" + data.NB + "'>" + data.CARNB + "</span>";

            link += "</a></span>     <a href = 'javascript:void(0);' onclick='myFunction(1" + data.NB + ");' > <i class='fa fa-copy' ></i></a >";

            return link;
        } else {
            return "";
        }

    }

    function renderCarProcedLink_ToProced(data) {
        var link = "<span style='margin: 15px;'> <a id='pro" + data.CARPROCEDNB +" ' target='_blank' href=/procedbase/Steps?id=" + data.CARPROCEDNB + ">";

        link += "<span id='2" + data.NB + "'>" + data.CARPROCEDNB + "</span>";
      

        link += "</a></span>     <a href = 'javascript:void(0);' onclick='myFunction(2" + data.NB + ");' > <i class='fa fa-copy' ></i></a >";

            //< a href = '#' onclick='myFunction(2" + data.NB + ");' > <i class='fa fa-copy' ></i></a >

        return link;
    }
    function ShowProcedInfo(nb) {
        var wnd = $("#ProcedInfo").data("kendoWindow");
        wnd.center().open();
    }

    function ColseWindow() {
        var wnd = $("#ProcedInfo").data("kendoWindow");
        wnd.center().close();
        $("#fin").data("kendoWindow").center().close();
        $("#con").data("kendoWindow").center().close();

    }

    function myFunction(idds) {
      
        var temp = $("<input>");
        $("body").append(temp);
        temp.val($('#' + idds).text()).select();
        document.execCommand("copy");
        temp.remove();
        
      
    }
</script>

<script>
    function GetPartialProcedinfo(CARPROCEDSTEPNB, PROCEDNB) {
        var model = {
            NB: CARPROCEDSTEPNB,
            PRONB :PROCEDNB
        };

        var url = "@Url.Action("GetProcedinfo", "TRSESSIONS")";

        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            data: model,
            success: function (data) {

                $.when(ss(data)).then(function () {
                    ShowProcedInfo();
                })
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function ss(data) {

      
       $('#Proced_Info').html(data);

        
    }

</script>


<script>
   
    function GetPartialProcedCount() {



        var url = "@Url.Action("GetProcedCount", "TRSESSIONS")";

        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            data: { ID : @ViewBag.SessionID},
            success: function (data) {
                if (data.success != false) {
                    $.when(ss2(data)).then(function () {
                        ShowProcedCount();
                        $("#ProcedCount").parent().find(".k-window-action").css("visibility", "block");

                    })
                } else {
                    toastr.error(data.responseText);
                }


            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    function ss2(data) {

       // document.getElementById('Proced_Info').innerHTML = data;
        $('#Proced_Count').html(data);

        /* little fade in effect */
       // $('#divPartial').fadeIn('fast');
    }
    function ShowProcedCount() {
        var wnd = $("#ProcedCount").data("kendoWindow");

        wnd.center().open();
    }
</script>

<script>
    function showdoc(NB) {
        window.open("@Url.Action("GetReport", "TRSESSIONS")" + "?NB=" + NB , "_blank");

    }


    function setvvv() {

        if ($("#DocumentsFiles").val() != "") {
            var is_pdf = fileValidation($("#DocumentsFiles").val());
            if (is_pdf)
            {
                var is_size = Filevalidationsize();
                if (is_size)
                {
                      var fileUpload = $("#DocumentsFiles").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append("Files", files[i]);
            }
            fileData.append("sesnb", @ViewBag.SessionID);


            $.ajax({
                url: '@Url.Action("SaveSingleDocument", "TRSESSIONS")',
                type: "POST",
                data: fileData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success == true) {
                        toastr.success(response.responseText);
                        location.reload()
                    } else {
                        toastr.error(response.responseText);

                    }


                }
            });
                }
                else
                {
                    toastr.error("حجم الملف يجب ان لا يتجاوز 4 ميغا");
                }

            } else {
                toastr.error("يرجى اختيار ملف لاحقته PDF");
            }


        } else
        {
            toastr.error("يرجى اختيار الملف اولاً");
        }

    }


    $(document).ready(function () {
        $.ajax({
            url:"@Url.Action("GetProcedCountIstrue", "TRSESSIONS")",
            cache: false,
            type: "GET",
            data: { Sesnb : @ViewBag.SessionID},
            success: function (data) {

                if (data.success == true) {
                    GetPartialProcedCount();
                  //  $("#ProcedCount").parent().find(".k-window-action").css("visibility", "hidden");

                } else {

                }

            },
            error: function (reponse) {

            }
        });

    });
</script>


<script type="text/javascript">
    function fileValidation(filesss) {   
        var fileElement = document.getElementById("DocumentsFiles");
        var fileElement = fileElement;
        var fileExtension = "";
        if (fileElement.value.lastIndexOf(".") > 0) {
            fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
        }
        if (fileExtension.toLowerCase() == "pdf") {
            return true;
        }
        else {
           /* alert("يجب اختيار ملف PDF فقط.");*/
            fileElement.value = '';
            return false;
        }
    }

    function Filevalidationsize() {
        const fi = document.getElementById('DocumentsFiles');      
        if (fi.files.length > 0) {                      
            const fsize = fi.files.item(0).size;           
            const file = Math.round((fsize / 1024));
           
            if (fsize > 4194304) {
               
                    return false;                       
            } else {
               
                    return true;
                }           
        }
    }
</script>
