
@{
    ViewBag.Title = "المحافظات وخطوطها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel" style="font-size: 15px">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">

                <div class="col-md-8">
                    @Html.Kendo().TextBox().Name("STrline").HtmlAttributes(new { placeholder = "%.. اسم الخط ..%" })
                </div>
                <div class="col-lg-2 col-md-2">
                    @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("STrnb").Min(0)
                                .HtmlAttributes(new { placeholder = "رمز الخط", style = "width: 100%;" }))

                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر الحالة فعال")
                                    .Name("StrlineStatus")
                                    .DataTextField("Text")
                                    .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "نعم",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "لا",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>

               
            </div>
           
          
            <div class="row">
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر الحالة ملغى")
                                    .Name("StrlineCANCELD")
                                    .DataTextField("Text")
                                    .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "نعم",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "لا",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة الخط")
                                    .Name("SlineCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("نوع الخط حسب المسار")
                                    .Name("Slinetyps")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETZTRLINETYPES", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                @*<div class="col-md-2">
            @(Html.Kendo().DropDownList()
                            .OptionLabel("نوع الخط حسب المدة")
                            .Name("Slinedura")
                            .DataTextField("NAME")
                            .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCity", "Codes");
                                });
                            })
                            .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                            )
        </div>*@

                <div class="col-md-2">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>

                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
        </div>
    </div>
}
<div>
    @(Html.Kendo().Grid <Passengers.ViewModel.CityAndLinesVM>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.CityName).Title("المحافظة").Width(150);
                columns.Bound(c => c.TRNB).Title("رمز الخط").Width(150);
                
                columns.Bound(c => c.LINENAME).Title("اسم خط السير").Width(500);
                columns.Bound(c => c.TPYS).Title("نوع الخط").Width(150);
                columns.Bound(c => c.STATUS).Title("حالة الخط").Width(150);
                columns.Bound(c => c.ISCANCELD).Title("هل ملغى").Width(150);

                columns.Bound(c => c.MINCARS).Title("عدد الادنى").Width(150);
                columns.Bound(c => c.MAXCARS).Title("عدد الاعلى").Width(150);

            })
            .HtmlAttributes(new { style = "height: 500px !important;" })
            .Scrollable()
            .Sortable()
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            //.Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("CityAndLines_Read", "PassengersReport").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
            //   toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            toolbar.Template(@<text>
            <div >
                <div>
                    <button title="تصدير الى ملف PDF"  style="font-size:8px" class="btn btn-green" href="#" onclick="ExportToPdf()">
                         <i class="fa fa-file-pdf-o fa-2x"></i>
                    </button>
                    @*<label id="ROWSCOUNTLABEL" style="font-size: 20px;margin-right: 400px;"> </label>
                    <label id="ROWSCOUNT" style="font-size: 20px;"></label>*@
                    <button title="تصدير الى ملف اكسل" style="font-size:8px" class="btn btn-green" href="#" onclick="ExportToExcel()">
                         <i class="fa fa-file-excel-o fa-2x"></i>
                    </button>
                </div>
            </div>
</text>);

            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>


<script>

    function GetFillters()
    {
        var fillter = {};
        fillter.STrline = $('#STrline').val();
        fillter.SlineCity = $('#SlineCity').val();
        fillter.StrlineStatus = $('#StrlineStatus').val();
        fillter.StrlineCANCELD = $('#StrlineCANCELD').val();
        fillter.Slinetyps = $('#Slinetyps').val();
        fillter.STrnb = $('#STrnb').val();

        
        return fillter;
    }

    function Btn_Search()
    {
        $("#grid").data("kendoGrid").dataSource.page([1]);
    }
    function rest_filtters()
    {
        $('#STrline').val("");
        $("#StrlineCANCELD").data("kendoDropDownList").value(-1);
        $("#SlineCity").data("kendoDropDownList").value(-1);
        $("#StrlineStatus").data("kendoDropDownList").value(-1);
        $("#Slinetyps").data("kendoDropDownList").value(-1);
        $("#STrnb").data("kendoNumericTextBox").value("");

        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    function ExportToPdf()
    {
        
        var fill = {};
        fill.STrline = $('#STrline').val();
        fill.StrlineStatus = $('#StrlineStatus').val();
        fill.StrlineCANCELD = $('#StrlineCANCELD').val();
        fill.Slinetyps = $('#Slinetyps').val();
        fill.SlineCity = $('#SlineCity').val();
        fill.STrnb = $('#STrnb').val();


        window.open("CityAndLines_PDF?pSTrName=" + fill.STrline
            + "&pStrlineStatus=" + fill.StrlineStatus
            + "&pStrlineCANCELD=" + fill.StrlineCANCELD
            + "&pSlinetyps=" + fill.Slinetyps
            + "&pSlineCity=" + fill.SlineCity
            + "&STrnb=" + fill.STrnb
            , "_blank"
        );
    }

    function ExportToExcel() {

        var fillEX = {};
        fillEX.STrline = $('#STrline').val();
        fillEX.StrlineStatus = $('#StrlineStatus').val();
        fillEX.StrlineCANCELD = $('#StrlineCANCELD').val();
        fillEX.Slinetyps = $('#Slinetyps').val();
        fillEX.SlineCity = $('#SlineCity').val();
        fillEX.STrnb = $('#STrnb').val();

        window.location = '@Url.Action("CityAndLines_ex", "PassengersReport")?EpSTrName=' + fillEX.STrline
            + '&EpStrlineStatus=' + fillEX.StrlineStatus
            + '&EpStrlineCANCELD=' + fillEX.StrlineCANCELD
            + '&EpSlinetyps=' + fillEX.Slinetyps
            + '&EpSlineCity=' + fillEX.SlineCity
            + "&STrnb=" + fillEX.STrnb;


            return false;
    }
</script>




