
@{
    ViewBag.Title = "المحافظة والتغيرات على خطوطها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel" style="font-size: 15px">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة الخط")
                                    .Name("SlineCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-2">
                    
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر نوع الطلب")
                                    .Name("SProcedtyps")
                                    .DataTextField("Text")
                                    .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                   .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "إحداث خط",
                                              Value = "2001"
                                          },
                                          new SelectListItem() {
                                              Text = "الغاء خط",
                                              Value = "2002"
                                          },
                                          new SelectListItem() {
                                              Text = "تغيير اسم أو مسار الخط",
                                              Value = "2003"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SSesDateStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الطلب من", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>

                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SSesDateEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الطلب الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>


                <div class="col-md-2">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>

                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>

            </div>


        </div>
    </div>
}
<div>
    @(Html.Kendo().Grid <Passengers.ViewModel.CityAndLinesChangeVM>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.NB).Title("رمز المعاملة").Width(150);
                columns.Bound(c => c.PROCEDNB).Title("رمز نوع المعاملة").Visible(false);
                columns.Bound(c => c.PROCEDNAME).Title("المعاملة").Width(150);
                columns.Bound(c => c.CITYNB).Title("رمز محافظة المعاملة").Visible(false);
                columns.ForeignKey(c => c.CITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("محافظة المعاملة").Width(110);



                columns.Bound(c => c.RECDAT).Format("{0:dd/MM/yyyy}").Title("تاريخ المعاملة").Width(110);
                columns.Bound(c => c.RESULT).Title("حالة المعاملة").Width(100);
                columns.Bound(c => c.NEWLINENAME).Title("اسم الخط الجديد").Width(150);
                columns.Bound(c => c.LINENB).Title("رمز الخط").Visible(false);
                columns.Bound(c => c.LINENAME).Title("اسم الخط المراد الغائه او تغييره").Width(200);
                columns.Bound(c => c.DONE).Title("حالة الخطوة").Visible(false);
                columns.Bound(c => c.NOTE).Title("ملاحظات").Width(200);
            })
            .HtmlAttributes(new { style = "height: 500px !important;" })
            .Scrollable()
            .Sortable()
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            //.Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("CityAndLinesChange_Read", "PassengersReport").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
            //   toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            toolbar.Template(@<text>
            <div >
                <div>
                    <button class="btn btn-green" href="#" onclick="ExportToPdf()">
                         تصدير الى PDF <i class="fa fa-file-pdf-o fa-2x"></i>
                    </button>
                    @*<label id="ROWSCOUNTLABEL" style="font-size: 20px;margin-right: 400px;"> </label>
                    <label id="ROWSCOUNT" style="font-size: 20px;"></label>*@
                    @*<button class="btn btn-green" href="#" onclick="ExportToExcel()">
                         تصدير الى Excel <i class="fa fa-file-excel-o fa-2x"></i>
                    </button>*@
                </div>
            </div>
</text>);

            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>


<script>

    function GetFillters()
    {
        var fillter = {};
        fillter.SlineCity = $('#SlineCity').val();
        fillter.SProcedtyps = $('#SProcedtyps').val();
        fillter.SSesDateStart = $('#SSesDateStart').val();
        fillter.SSesDateEnd = $('#SSesDateEnd').val();
        

        return fillter;
    }

    function Btn_Search()
    {
        $("#grid").data("kendoGrid").dataSource.page([1]);
    }
    function rest_filtters()
    {
        $('#SSesDateStart').val("");
        $('#SSesDateEnd').val("");

        $("#SlineCity").data("kendoDropDownList").value(-1);
        $("#SProcedtyps").data("kendoDropDownList").value(-1);
      

        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    function ExportToPdf()
    {
        alert('ss');
        var fill = {};
        fill.SlineCity = $('#SlineCity').val();
        fill.SProcedtyps = $('#SProcedtyps').val();
        fill.SSesDateStart = $('#SSesDateStart').val();
        fill.SSesDateEnd = $('#SSesDateEnd').val();



        window.open("CityAndLinesChange_PDF?plineCity=" + fill.SlineCity
            + "&pProcedtyps=" + fill.SProcedtyps
            + "&pSesDateStart=" + fill.SSesDateStart
            + "&pSesDateEnd=" + fill.SSesDateEnd
           
            , "_blank"
        );
    }
</script>




