
@{
    ViewBag.Title = "تقرير اللجان واعضائها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PartialHeader{
    <div class="panel-heading1 collapse" id="searchPanel">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-1">
                    <label for="template_name"> رمز اللجنة</label>
                </div>
                <div class="col-md-2">
                    @Html.Kendo().TextBox().Name("SCommNb").HtmlAttributes(new { placeholder = " رمز اللجنة" })
                </div>
                <div class="col-md-1">
                    <label for="template_name"> المحافظة</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة اللجنة")
                                    .Name("SComCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-1">
                    <label for="template_name"> التاريخ من</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SComDateStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ اللجنة من", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
                <div class="col-md-1">
                    <label for="template_name"> التاريخ الى</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SComDateEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ اللجنة الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
            </div>
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-1">
                    <label for="template_name"> رقم اللجنة</label>
                </div>
                <div class="col-md-2">
                    @Html.Kendo().TextBox().Name("SCommNO").HtmlAttributes(new { placeholder = " رقم اللجنة" })
                </div>
                <div class="col-md-1">
                    <label for="template_name"> المنصب</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر المنصب")
                                    .Name("SMeberShip")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetMemberPostion", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-1">
                    <label for="template_name"> العضوية</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر العضوية")
                                    .Name("SMemberPos")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetMemberShip", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-1">
                    <label for="template_name"> حالة اللجنة</label>
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر  حالة اللجنة")
                                    .Name("SComStatus")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetStatus", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label for="template_name"> اسم العضو</label>
                </div>
                <div class="col-md-4">
                    @Html.Kendo().TextBox().Name("SMemerName").HtmlAttributes(new { placeholder = " اسم العضو" })

                </div>

                <div class="col-md-offset-5">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>
                </div>
                <div class="col-md-1">
                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
        </div>
    </div>
}


<div>
    @(Html.Kendo().Grid <Passengers.ViewModel.CommittesAndMembersVM>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                // columns.Template(t => { }).Title("م.").ClientTemplate(
                //  "#= renderNumber(data) #"
                //).Width(80);
                columns.Bound(c => c.CityName).Title("المحافظة").Width(110);
                columns.Bound(c => c.CommNb).Title("رمز اللجنة").Width(120);
                columns.Bound(c => c.CommNo).Title("رقم اللجنة").Width(120);

                columns.Bound(c => c.CommDate).Format("{0:dd/MM/yyyy}").Title("تاريخ اللجنة").Width(110);
                //  columns.ForeignKey(c => c.COMCITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150);
                columns.Bound(c => c.CommStatus).Title("حالة اللجنة").Width(100);
                //columns.ForeignKey(c => c.STATUS, (System.Collections.IEnumerable)ViewData["STATUS"], "ID", "NAME").Title("الحالة").Width(150);
                columns.Bound(c => c.MemberName).Title("اسم العضو");
                columns.Bound(c => c.MemberPostion).Title("المنصب").Width(150);
                columns.Bound(c => c.MemberShip).Title("العضوية").Width(150);
                //columns.Command(command =>
                //{
                //    //command.Custom("Preview").Click("Preview").Text(" ");
                //    command.Custom("Edit").Click("Edit").Text(" ");
                //    //command.Custom("Delete").Click("Delete").Text(" ");
                //    command.Custom("Details").Click("Details").Text(" ");
                //   // command.Custom("Finish").Click("Finish").Text(" ");
                //}).Width(180);
            })
            .HtmlAttributes(new { style = "height: aotu  !important;" })
            .Scrollable()
            .Sortable()
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            //.Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("CommittesAndMembers_Read", "PassengersReport").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
             //   toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
           toolbar.Template(@<text>
            <div >
                <div>
                    <button class="btn btn-green" href="#" onclick="ExportToPdf()">
                         تصدير الى PDF <i class="fa fa-file-pdf-o fa-2x"></i>
                    </button>
                    @*<label id="ROWSCOUNTLABEL" style="font-size: 20px;margin-right: 400px;"> </label>
                    <label id="ROWSCOUNT" style="font-size: 20px;"></label>*@
                    <button class="btn btn-green" href="#" onclick="ExportToExcel()">
                         تصدير الى Excel <i class="fa fa-file-excel-o fa-2x"></i>
                    </button>
                </div>
            </div>
</text>);

            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>

<script>

    function GetFillters() {
        var fillter = {};

        fillter.NB = $('#SCommNb').val();
        fillter.COMNO = $('#SCommNO').val();
        fillter.COMDATESTART = $('#SComDateStart').val();
        fillter.COMDATEEND = $('#SComDateEnd').val();

        fillter.STATUS = $('#SComStatus').val();

        fillter.MEMBERNAME = $('#SMemerName').val();

        fillter.MEMBERPOSITIONNB = $('#SMemberPos').val();
        fillter.MEMBERSHIPNB = $('#SMeberShip').val();

        fillter.COMCITYNB = $('#SComCity').val();

        return fillter;


    }




    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.read();

    }

    function rest_filtters() {
        $('#SCommNb').val("");
        $('#SCommNO').val("");

        $('#SComDateStart').val("");
        $('#SComDateEnd').val("");
        $('#SMemerName').val("");

        $("#SComCity").data("kendoDropDownList").value(-1);
        $("#SMeberShip").data("kendoDropDownList").value(-1);
        $("#SMemberPos").data("kendoDropDownList").value(-1);
        $("#SComStatus").data("kendoDropDownList").value(-1);

        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    function ExportToPdf() {
        var fill = {};

        fill.NB = $('#SCommNb').val();
        fill.COMNO = $('#SCommNO').val();
        fill.COMDATESTART = $('#SComDateStart').val();
        fill.COMDATEEND = $('#SComDateEnd').val();

        fill.STATUS = $('#SComStatus').val();

        fill.MEMBERNAME = $('#SMemerName').val();

        fill.MEMBERPOSITIONNB = $('#SMemberPos').val();
        fill.MEMBERSHIPNB = $('#SMeberShip').val();

        fill.COMCITYNB = $('#SComCity').val();
        
        window.open("CommittesAndMembers_PDF?sNB=" + fill.NB + "&sCOMNO=" + fill.COMNO
            + "&sCOMDATESTART=" + fill.COMDATESTART + "&sCOMDATEEND=" + fill.COMDATEEND
            + "&sSTATUS=" + fill.STATUS + "&sMEMBERNAME=" + fill.MEMBERNAME + "&sMEMBERPOSITIONNB=" + fill.MEMBERPOSITIONNB + "&sMEMBERSHIPNB=" + fill.MEMBERSHIPNB + "&sCOMCITYNB=" + fill.COMCITYNB , "_blank");
    
    }
    function ExportToExcel() {}
</script>