
@{
    ViewBag.Title = "الخطوط والمركبات تجميعي";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel" style="font-size: 15px">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">

                <input type="checkbox" id="SlineCitycheckbox" />

                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة الخط")
                                    .Name("SlineCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <input type="checkbox" id="Slinetypscheckbox" />
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("نوع الخط حسب المسار")
                                    .Name("Slinetyps")
                                    .DataTextField("NAME")
                                    .DataValueField("ID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETZTRLINETYPES", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <input type="checkbox" id="StrlineStatuscheckbox" />
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر الحالة فعال")
                                    .Name("StrlineStatus")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "نعم",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "لا",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                <input type="checkbox" id="Scarkindcheckbox" />
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("النوع الرئيسي")
                                    .Name("Scarkind")
                                    .DataTextField("NAME")
                                    .DataValueField("ID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETCARKIND", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                <input type="checkbox" id="Scarregcheckbox" />
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("الفئة الثانوية")
                                    .Name("Scarreg")
                                    .DataTextField("NAME")
                                    .DataValueField("ID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETCARREG", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
            </div>
            <div class="row" style="padding-bottom:10px">
                <input type="checkbox" id="Strnameheckbox" />

                <div class="col-md-7">
                    @Html.Kendo().TextBox().Name("STrline").HtmlAttributes(new { placeholder = "%.. اسم الخط ..%" })
                </div>
                <input type="checkbox" id="Strnbheckbox" />
                <div class="col-lg-2 col-md-2">
                    @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("STrnb").Min(0)
                                .HtmlAttributes(new { placeholder = "رمز الخط", style = "width: 100%;" }))

                </div>
                <div class="col-md-2">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>

                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
        </div>
    </div>
}
<div>
    @(Html.Kendo().Grid <Passengers.ViewModel.LinesAndCarsGroupVM>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.CityName).Title("المحافظة").Visible(false);
                columns.Bound(c => c.TYPS).Title("المحافظة").Visible(false);
                columns.Bound(c => c.STATUS).Title("المحافظة").Visible(false);
                columns.Bound(c => c.kind).Title("المحافظة").Visible(false);
                columns.Bound(c => c.reg).Title("المحافظة").Visible(false);
                columns.Bound(c => c.trname).Title("المحافظة").Visible(false);
                columns.Bound(c => c.trnb).Title("المحافظة").Visible(false);

                columns.Bound(c => c.CoutnCar).Title("عدد المركبات").Width(150).Visible(false);
                columns.Template(@<text></text>).ClientTemplate("#=resColTemplate(data)#").Title("النتيجة");
            })
            .HtmlAttributes(new { style = "height: 500px !important;" })
            .Scrollable()
            .Sortable()
            //.ClientDetailTemplateId("template")
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.RequestEnd("OnRequestEnd"))
            .PageSize(15)
            //.Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("LinesAndCarsGroup_Read", "PassengersReport").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
            //   toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            toolbar.Template(@<text>
            <div >
                <div>
                    <button class="btn btn-green" href="#" onclick="ExportToPdf()">
                         تصدير الى PDF <i class="fa fa-file-pdf-o fa-2x"></i>
                    </button>
                    @*<label id="ROWSCOUNTLABEL" style="font-size: 20px;margin-right: 400px;"> </label>
                    <label id="ROWSCOUNT" style="font-size: 20px;"></label>*@
                    @*<button class="btn btn-green" href="#" onclick="ExportToExcel()">
                         تصدير الى Excel <i class="fa fa-file-excel-o fa-2x"></i>
                    </button>*@
                </div>
            </div>
</text>);

            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("dataBound2222")
            .DataBound("dataBound2222")
            .Sort("dataBound2222")
            .Filter("dataBound2222")
            .Group("dataBound2222")
            .Page("dataBound2222")
            .Cancel("dataBound2222")
        //.Edit("hideIdField")


        )
    )


</div>

<script id="responsive-column-template" type="text/x-kendo-template">
    <div class="row">
    <div class="col-md-1" >
    <strong>المحافظة:</strong><br>
    <label class="col-template-val">#=data.CityName#</label>
    </div>
    <div class="col-md-1">
     <strong>رمز الخط:</strong>
    <label  class="col-template-val TYPSisnull">#=data.trnb#</label>
    </div>
     <div class="col-md-3" >
    <strong>الخط:</strong><br>
    <label class="col-template-val">#=data.trname#</label>
    </div>

    <div class="col-md-1">
     <strong>نوع الخط:</strong>
    <label  class="col-template-val TYPSisnull">#=data.TYPS#</label>
    </div>

     <div class="col-md-1">
     <strong>الحالة:</strong><br>
    <label  class="col-template-val TYPSisnull">#=data.STATUS#</label>
    </div>

      <div class="col-md-1" >
    <strong>نوع المركبة:</strong>
    <label class="col-template-val">#=data.kind#</label>
    </div>

      <div class="col-md-1" >
    <strong>الفئة:</strong>
    <label class="col-template-val">#=data.reg#</label>
    </div>

     <div class="col-md-1">
    <strong>العدد:</strong>
    <label class="col-template-val">#=data.CoutnCar#</label>
    </div>
     </div>
</script>

<script>
    var resColTemplate;

    $.when($(document).ready(function () {


        resColTemplate = kendo.template($("#responsive-column-template").html());


    })).then(function () {




    });

    function dataBound2222() {
        $('label').each(function () {
            // alert($(this).text());
            if ($(this).text() == "null") {
                //   alert("22");
                $(this).parent().hide();
            }
        });
    }
</script>

<style>
    .col-template-val {
        margin: 0 0 1em .5em;
    }
</style>
<script>
    function GetFillters() {
        var fillter = {};
        fillter.SlineCity_checkbox = $('#SlineCitycheckbox').is(':checked');
        fillter.Slinetyps_checkbox = $('#Slinetypscheckbox').is(':checked');
        fillter.StrlineStatus_checkbox = $('#StrlineStatuscheckbox').is(':checked');
        fillter.Scarkind_checkbox = $('#Scarkindcheckbox').is(':checked');
        fillter.Scarreg_checkbox = $('#Scarregcheckbox').is(':checked');
        fillter.Strname_checkbox = $('#Strnameheckbox').is(':checked');
        fillter.Strnb_checkbox = $('#Strnbheckbox').is(':checked');

        
        
        fillter.SlineCity = $('#SlineCity').val();
        fillter.Slinetyps = $('#Slinetyps').val();
        fillter.StrlineStatus = $('#StrlineStatus').val();
        fillter.Scarkind = $('#Scarkind').val();
        fillter.Scarreg = $('#Scarreg').val();
        fillter.STrline = $('#STrline').val();
        
        fillter.STrnb = $('#STrnb').val();

        return fillter;
    }
    function Btn_Search()
    {
      
       // $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page([1]);
    }


    function rest_filtters() {

        $("#SlineCity").data("kendoDropDownList").value(-1);
        $("#Slinetyps").data("kendoDropDownList").value(-1);
        $("#StrlineStatus").data("kendoDropDownList").value(-1);
        $("#Scarkind").data("kendoDropDownList").value(-1);
        $("#Scarreg").data("kendoDropDownList").value(-1);
        $('#STrline').val("");


        $("#STrnb").data("kendoNumericTextBox").value("");




        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    function ExportToPdf() {
        var fill = {};
        fill.SlineCity_checkbox = $('#SlineCitycheckbox').is(':checked');
        fill.Slinetyps_checkbox = $('#Slinetypscheckbox').is(':checked');
        fill.StrlineStatus_checkbox = $('#StrlineStatuscheckbox').is(':checked');
        fill.Scarkind_checkbox = $('#Scarkindcheckbox').is(':checked');
        fill.Scarreg_checkbox = $('#Scarregcheckbox').is(':checked');
        fill.Strname_checkbox = $('#Strnameheckbox').is(':checked');
        fill.Strnb_checkbox = $('#Strnbheckbox').is(':checked');
        fill.SlineCity = $('#SlineCity').val();
        fill.Slinetyps = $('#Slinetyps').val();
        fill.StrlineStatus = $('#StrlineStatus').val();
        fill.Scarkind = $('#Scarkind').val();
        fill.Scarreg = $('#Scarreg').val();
        fill.STrline = $('#STrline').val();
        fill.STrnb = $('#STrnb').val();

        
        window.open("LinesAndCarsGroup_PDF?"
            + "SlineCitycheckbox=" + fill.SlineCity_checkbox
            + "&Slinetypscheckbox=" + fill.Slinetyps_checkbox
            + "&StrlineStatuscheckbox=" + fill.StrlineStatus_checkbox
            + "&Scarkindcheckbox=" + fill.Scarkind_checkbox
            + "&Scarregcheckbox=" + fill.Scarreg_checkbox
            + "&Strnamecheckbox=" + fill.Strname_checkbox
            + "&Strnbcheckbox=" + fill.Strnb_checkbox

            + "&pSlinetyps=" + fill.Slinetyps
            + "&pStrlineStatus=" + fill.StrlineStatus
            + "&pScarkind=" + fill.Scarkind
            + "&pScarreg=" + fill.Scarreg
            + "&pSTrline=" + fill.STrline
            + "&pSlineCity=" + fill.SlineCity
            + "&pSTrnb=" + fill.STrnb, "_blank"
        );
    }


    
    </script>