
@{
    ViewBag.Title = "تقرير الجلسات وطلباتها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                @*<div class="col-md-1">
                        <label for="template_name"> رمز اللجنة</label>
                    </div>*@
                <div class="col-md-2">
                    @Html.Kendo().TextBox().Name("SCommNb").HtmlAttributes(new { placeholder = " رمز اللجنة" })
                </div>
                @*<div class="col-md-1">
                        <label for="template_name"> رمز الجلسة</label>
                    </div>*@
                <div class="col-md-2">
                    @Html.Kendo().TextBox().Name("SSessNb").HtmlAttributes(new { placeholder = " رمز الجلسة" })
                </div>

                @*<div class="col-md-1">
                        <label for="template_name"> رقم الجلسة</label>
                    </div>*@
                <div class="col-md-2">
                    @Html.Kendo().TextBox().Name("SSesNO").HtmlAttributes(new { placeholder = " رقم الجلسة" })
                </div>
                @*<div class="col-md-1">
                        <label for="template_name"> التاريخ من</label>
                    </div>*@
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SSesDateStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الجلسة من", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>
                @*<div class="col-md-1">
                        <label for="template_name"> التاريخ الى</label>
                    </div>*@
                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SSesDateEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ الجلسة الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
                    )
                </div>


                @*<div class="col-md-1">
                        <label for="template_name"> المحافظة</label>
                    </div>*@
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة اللجنة")
                                    .Name("SComCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
            </div>
            <div class="row" style="padding-bottom:10px">




                @*<div class="col-md-1">
            <label for="template_name"> حالة الجلسة</label>
        </div>*@
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر  حالة الجلسة")
                                    .Name("SSesStatus")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetStatus", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                @*<div class="col-md-1">
            <label for="template_name"> العضوية</label>
        </div>*@
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر نوع الطلب")
                                    .Name("SProcedtyps")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETZPROCEDTYPS", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر حالة الطلب")
                                    .Name("SPstatus")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GETTRSESSIONSPROCEDSTATUS", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-md-2">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>

                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>


            </div>

        </div>
    </div>
}


<div>
    @(Html.Kendo().Grid <Passengers.ViewModel.SessionsAndProcedsVM>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                // columns.Template(t => { }).Title("م.").ClientTemplate(
                //  "#= renderNumber(data) #"
                //).Width(80);
                columns.Bound(c => c.CityName).Title("المحافظة").Width(110);
                columns.Bound(c => c.CommNb).Title("رمز اللجنة").Width(120);

                columns.Bound(c => c.SessNb).Title("رمز الجلسة").Width(120);
                columns.Bound(c => c.SessNo).Title("رقم الجلسة").Width(120);
                columns.Bound(c => c.SessDate).Format("{0:dd/MM/yyyy}").Title("تاريخ الجلسة").Width(110);
                //  columns.ForeignKey(c => c.COMCITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150);
                columns.Bound(c => c.SessStatus).Title("حالة الجلسة").Width(100);
                //columns.ForeignKey(c => c.STATUS, (System.Collections.IEnumerable)ViewData["STATUS"], "ID", "NAME").Title("الحالة").Width(150);
                columns.Bound(c => c.ProcedName).Title("نوع الطلب");
                columns.Bound(c => c.ProcedRes).Title("نتيجة الطلب").Width(150);
     


                //columns.Command(command =>
                //{
                //    //command.Custom("Preview").Click("Preview").Text(" ");
                //    command.Custom("Edit").Click("Edit").Text(" ");
                //    //command.Custom("Delete").Click("Delete").Text(" ");
                //    command.Custom("Details").Click("Details").Text(" ");
                //   // command.Custom("Finish").Click("Finish").Text(" ");
                //}).Width(180);
            })
            .HtmlAttributes(new { style = "height: aotu  !important;" })
            .Scrollable()
            .Sortable()
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            //.Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("SessionsAndProceds_Read", "PassengersReport").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
            //   toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            toolbar.Template(@<text>
            <div >
                <div>
                    <button class="btn btn-green" href="#" onclick="ExportToPdf()">
                         تصدير الى PDF <i class="fa fa-file-pdf-o fa-2x"></i>
                    </button>
                    @*<label id="ROWSCOUNTLABEL" style="font-size: 20px;margin-right: 400px;"> </label>
                    <label id="ROWSCOUNT" style="font-size: 20px;"></label>*@
                    @*<button class="btn btn-green" href="#" onclick="ExportToExcel()">
                         تصدير الى Excel <i class="fa fa-file-excel-o fa-2x"></i>
                    </button>*@
                </div>
            </div>
</text>);

            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>

<script>

    function GetFillters() {
        var fillter = {};

        fillter.NB = $('#SCommNb').val();
        fillter.sNB = $('#SSessNb').val();
        fillter.sNO = $('#SSesNO').val();
        fillter.sDATESTART = $('#SSesDateStart').val();
        fillter.sDATEEND = $('#SSesDateEnd').val();
        fillter.sSTATUS = $('#SSesStatus').val();
        fillter.COMCITYNB = $('#SComCity').val();
        fillter.SPstatus = $('#SPstatus').val();
        fillter.SProcedtyps = $('#SProcedtyps').val();
        return fillter;
    }




    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.read();

    }

    function rest_filtters() {

        $('#SCommNb').val("");

        $('#SSessNb').val("");
        $('#SSesNO').val("");
        $('#SSesDateStart').val("");
        $('#SSesDateEnd').val("");
        $("#SSesStatus").data("kendoDropDownList").value(-1);
        $("#SComCity").data("kendoDropDownList").value(-1);
        $("#SPstatus").data("kendoDropDownList").value(-1);
        $("#SProcedtyps").data("kendoDropDownList").value(-1);

        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    function ExportToPdf() {
        var fill = {};
        fill.NB = $('#SCommNb').val();
        fill.COMNO = $('#SCommNO').val();
        fill.sNB = $('#SSessNb').val();
        fill.sNO = $('#SSesNO').val();
        fill.sDATESTART = $('#SSesDateStart').val();
        fill.sDATEEND = $('#SSesDateEnd').val();
        fill.sSTATUS = $('#SSesStatus').val();
        fill.COMCITYNB = $('#SComCity').val();
        fill.SPstatus = $('#SPstatus').val();
        fill.SProcedtyps = $('#SProcedtyps').val();



        window.open("SessionsAndProceds_PDF?pNB=" + fill.NB
            + "&psNB=" + fill.sNB
            + "&psNO=" + fill.sNO
            + "&psDATESTART=" + fill.sDATESTART
            + "&psDATEEND=" + fill.sDATEEND
            + "&psSTATUS=" + fill.sSTATUS
            + "&SPstatus=" + fill.SPstatus
            + "&SProcedtyps=" + fill.SProcedtyps
            + "&pCOMCITYNB=" + fill.COMCITYNB, "_blank"
        );
    }
    function ExportToExcel()

    {

            $.ajax({
                type: "POST",

                url: "@Url.Action("CommittesAndSessions_ex", "PassengersReport")",
                success: function (response) {
                    if (response.success) {


                        toastr.success("تمت عملية الإضافة بنجاح");
                    } else {

                    }

                }
            });


    }
</script>