
@{
    ViewBag.Title = "تغيرات الخطوط على مركبة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">

                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("Carnb").Min(0)
                                .HtmlAttributes(new { placeholder = "رمز المركبة", maxlength = "10", style = "width: 100%;" }))
                </div>

                <div class="col-lg-2 col-md-4">
                    @Html.Kendo().TextBox().Name("StabNO").HtmlAttributes(new { placeholder = "رقم اللوحة" })
                </div>

                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة المركبة")
                                    .Name("ScarCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>

                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SComDateStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ التغير من", style = "width: 100%; text-align:center;" })
                    )
                </div>

                <div class="col-md-2">
                    @(Html.Kendo().DatePicker()
                        .Name("SComDateEnd")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ التغير الى", style = "width: 100%; text-align:center;" })
                    )
                </div>

            </div>

            <div class="row">
                <div class="col-lg-9 col-md-12">
                    @Html.Kendo().TextBox().Name("STrline").HtmlAttributes(new { placeholder = " اسم الخط" })
                </div>

                <div class="col-md-2">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>

                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
           
           


        </div>
    </div>



}




<div>
    @(Html.Kendo().Grid < Proced.DataAccess.Models.CF.TRCHANGE_CAR_LINES>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.NB).Title("الرمز").Visible(false);
                columns.Bound(c => c.CARNB).Title("رمز المركبة").Width(150);
                columns.Bound(c => c.TABNU).Title("رقم اللوحة").Width(150);
                columns.ForeignKey(c => c.CITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("محافظة المركبة").Width(150);
                columns.Bound(c => c.CITYNB).Title("محافظة المركبة").Visible(false);
                columns.ForeignKey(c => c.CARREG, (System.Collections.IEnumerable)ViewData["ZCARREGS"], "ID", "NAME").Title("فئة المركبة").Width(150);
                columns.Bound(c => c.CARREG).Title("فئة المركبة").Visible(false);
                columns.ForeignKey(c => c.CARKIND, (System.Collections.IEnumerable)ViewData["ZCARCATEGORYS"], "ID", "NAME").Title("نوع المركبة").Width(150);
                columns.Bound(c => c.CARKIND).Title("نوع المركبة").Visible(false);
                columns.Bound(c => c.LINENB).Title("رمز الخط الحالي القديم").Width(150).Visible(false);
                columns.Bound(c => c.LINENAME).Title("اسم الخط").Width(250);
                columns.Bound(c => c.LINE_TYPE).Title("نوع الخط").ClientTemplate("#=GetCtype(data.LINE_TYPE)#").Width(100);
                columns.Bound(c => c.LINE_TYPE).Title("نوع الخط").Visible(false);
                columns.Bound(c => c.UDATE).Format("{0:dd/MM/yyyy}").Title("تاريخ التغير").Width(110);
            })
            .HtmlAttributes(new { style = "height: 500px !important;" })
            .Scrollable()
            .Sortable()
            //.Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            //.Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("TRCHANGECARLINES_Read", "PassengersReport").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
            //   toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            toolbar.Template(@<text>
            <div >
                <div>
                    <button title="تصدير الى ملف PDF"  style="font-size:8px"  class="btn btn-green" href="#" onclick="ExportToPdf()">
                       <i class="fa fa-file-pdf-o fa-2x"></i>
                    </button>
                    @*<label id="ROWSCOUNTLABEL" style="font-size: 20px;margin-right: 400px;"> </label>
                    <label id="ROWSCOUNT" style="font-size: 20px;"></label>*@
                    <button  title="تصدير الى ملف اكسل" style="font-size:8px" class="btn btn-green" href="#" onclick="ExportToExcel()">
                         <i class="fa fa-file-excel-o fa-2x"></i>
                    </button>
                </div>
            </div>
</text>);

            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>

<script>
    function GetCtype(data) {
        if (data == 1) {
            return "حالي";
        } if (data == 2) {
            return "اساسي";
        }
    }
    function GetFillters()
    {
        var fillter = {};
        fillter.Carnb = $('#Carnb').val();
        fillter.StabNO = $('#StabNO').val();
        fillter.SComDateStart = $('#SComDateStart').val();
        fillter.SComDateEnd = $('#SComDateEnd').val();
        fillter.ScarCity = $('#ScarCity').val();
        fillter.STrline = $('#STrline').val();
        return fillter;
    }
    function Btn_Search()
    {
      //  $("#grid").data("kendoGrid").dataSource.read();
        $("#grid").data("kendoGrid").dataSource.page([1]);
    }

    function rest_filtters()
    {
        $("#Carnb").data("kendoNumericTextBox").value("");
        $('#StabNO').val("");
        $('#STrline').val("");
        $('#SComDateStart').val("");
        $('#SComDateEnd').val("");
        $("#ScarCity").data("kendoDropDownList").value(-1);
        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    function ExportToPdf() {
        var fill = {};
        fill.Carnb = $('#Carnb').val();
        fill.StabNO = $('#StabNO').val();
        fill.SComDateStart = $('#SComDateStart').val();
        fill.SComDateEnd = $('#SComDateEnd').val();
        fill.ScarCity = $('#ScarCity').val();;
        fill.STrline = $('#STrline').val();



        window.open("TRCHANGECARLINES_PDF?pCarnb=" + fill.Carnb
            + "&pStabNO=" + fill.StabNO
            + "&pSComDateStart=" + fill.SComDateStart
            + "&pSComDateEnd=" + fill.SComDateEnd
            + "&pScarCity=" + fill.ScarCity
            + "&pSTrline=" + fill.STrline
            , "_blank"
        );
    }
    function ExportToExcel()

    {

        var fillEX = {};
        fillEX.Carnb = $('#Carnb').val();
        fillEX.StabNO = $('#StabNO').val();
        fillEX.SComDateStart = $('#SComDateStart').val();
        fillEX.SComDateEnd = $('#SComDateEnd').val();
        fillEX.ScarCity = $('#ScarCity').val();;
        fillEX.STrline = $('#STrline').val();

        window.location = '@Url.Action("TRCHANGECARLINES_ex", "PassengersReport")?EpCarnb=' + fillEX.Carnb
            + '&EpStabNO=' + fillEX.StabNO
            + '&EpSComDateStart=' + fillEX.SComDateStart
            + '&EpSComDateEnd=' + fillEX.SComDateEnd
            + '&EpScarCity=' + fillEX.ScarCity
            + '&EpSTrline=' + fillEX.STrline;


            return false;


    }
</script>
