@{
    ViewBag.Title = "خطوط السير";
}
@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel" style="font-size: 15px">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> الاسم</label>
                    <label>(<i id="namepercent" class="fa fa-percent"></i>)</label>
                </div>
                <div class="col-lg-8 col-md-8">
                    @Html.Kendo().TextBox().Name("STrline").HtmlAttributes(new { placeholder = " اسم الخط" })
                </div>
                <div class="col-lg-2 col-md-2">
                    @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("STrnb").Min(0)
                                .HtmlAttributes(new { placeholder = "رمز الخط", style = "width: 100%;" }))

                </div>
            </div>
            <div class="row" style="padding-bottom:10px">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> المسار</label>
                    <label>(<i id="namepercentpath" class="fa fa-percent"></i>)</label>
                </div>
                <div class="col-lg-8 col-md-8">
                    @Html.Kendo().TextBox().Name("STrlinepath").HtmlAttributes(new { placeholder = " مسار الخط" })
                </div>
                <div class="col-lg-2 col-md-2">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر محافظة الخط")
                                    .Name("SlineCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
            </div>
            <div class="row">

                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> هل متاح</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر")
                                    .Name("StrlineStatus")
                                    .DataTextField("Text")
                                    .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "نعم",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "لا",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> هل ملغى</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر")
                                    .Name("StrlineCANCELD")
                                    .DataTextField("Text")
                                    .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "نعم",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "لا",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>





                <div class="col-lg-2 col-md-4">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>

                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>

                </div>
            </div>
        </div>
    </div>
}

<div>
    @(Html.Kendo().Grid<Proced.DataAccess.Models.CF.TRLINE>()
      .Name("grid").AutoBind(false)

      .Columns(columns =>
      {
          columns.Bound(c => c.NB).ClientTemplate
                  (" # if (1 == 1) " +
                  "{"+
                "#<button id='' title='تعديل' class='k-button k-button-icontext k-grid-Edit hvr-box-shadow-outset' onclick='Edit(#=NB#)'></button> #"
               + "#<button id=''  class='k-button k-button-icontext k-grid-CanEdit hvr-box-shadow-outset'onclick='ShowCanEdit(#=NB#)'></button>  # "
                  + "} #")
                .Sortable(false).Title(" ").Width(150).Filterable(false);
          //columns.Command(command =>
          //{
          //    // command.Custom("Preview").Click("Preview").Text(" ");
          //    command.Custom("Edit").Click("Edit").Text(" ");

          //    command.Custom("DetailsMembers").Click("Preview").Text(" ");
          //    //  command.Custom("Delete").Click("Delete").Text(" ");
          //}).Width(150);
          columns.Bound(c => c.NB).Title("رمز الخط").Width(150);

          columns.Bound(c => c.NAME).Title("اسم خط السير").Width(500);
          columns.Bound(c => c.LINEPATH).Title("مسار الخط").Width(500);


          columns.ForeignKey(c => c.TYP, (System.Collections.IEnumerable)ViewData["ZTRLINETYPES"], "ID", "NAME").Title("النوع").Width(150);
          //columns.Bound(c => c.TYP).Title("نوع خط السير");
          columns.Bound(c => c.CITYNB).Title("المحافظة").Visible(false);
          columns.ForeignKey(c => c.CITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150);
          columns.Bound(c => c.STATUS).Title("متاح؟").ClientTemplate("#=STATUS ? 'نعم':'لا' #").Width(100);
          columns.Bound(c => c.ISCANCELD).Title("ملغى؟").ClientTemplate("#=ISCANCELD ? 'نعم':'لا' #").Width(100);
          columns.Bound(c => c.MINCARS).Title("عدد الادنى").Width(150);
          columns.Bound(c => c.MAXCARS).Title("عدد الاعلى").Width(150);
          columns.Bound(c => c.SESNB).Title("رمز الجلسة").Width(150).Visible(false);
          columns.Bound(c => c.CANEDIT).Title("متاح للتعديل").ClientTemplate("#=CANEDIT ? 'نعم':'لا' #").Width(150);




      })
  //arabic from here
  .ToolBar(toolbar =>
  {
      toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
  })
            .HtmlAttributes(new { style = "height: 450px !important;" })

//.ColumnMenu(c =>
//c.Messages(m =>
//     m.Columns(HelperLib.ControlLabelsAR.KendoGridColumns)
//     .Done(HelperLib.ControlLabelsAR.Done)
//     .Filter(HelperLib.ControlLabelsAR.Filter)
//     .SortAscending(HelperLib.ControlLabelsAR.SortAscending)
//     .SortDescending(HelperLib.ControlLabelsAR.SortDescending)
// )
//)
//.Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Width(450).Title("إضافة/تعديل")).TemplateName("ZCarRegsTemplate").DisplayDeleteConfirmation("هل أنت متأكد من الحذف")
//         .Window(w => w.Draggable()
//                     .Modal(true)

//                     .Resizable()
//                     ))
.Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
           .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
           .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
           .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
            .Empty(("  العدد الكلي للسجلات :" + Convert.ToString(ViewBag.total_records_OWN)))
           .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
           .Next(HelperLib.ControlLabelsAR.KendoGridNext)
           .Of(HelperLib.ControlLabelsAR.KendoGridOf)
           .Page(HelperLib.ControlLabelsAR.KendoGridPage)
           .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
           .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
           .Display("العدد الكلي للسجلات :  {2}")
           )
         .Refresh(true)
         .Input(true)
         .Info(true)


)
//.Selectable(selectable =>
//{
//    selectable.Mode(GridSelectionMode.Single);
//    selectable.Type(GridSelectionType.Row);
//})
//.Sortable(sortable =>
//{
//    sortable.SortMode(GridSortMode.SingleColumn);
//})
//arabic to here
//.Filterable()
.Scrollable()
.DataSource(dataSource => dataSource
.Ajax()
.Model(model => model.Id(p => p.NB))
.Read(read => read.Action("TrLines_Read", "TrLines").Data("GetFillters"))

//.Events(events => events.RequestEnd("onRequestEnd").Sync("sync_handler"))
).Events(events => events

.Change("getcolor")
.DataBound("getcolor")

.Sort("getcolor")
.Filter("getcolor")
.Group("getcolor")
.Page("getcolor")
.Cancel("getcolor")
//.Edit("hideIdField")
)
)
</div>

<!-- Add -->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("AddTRline")
            .Title("اضافة خط سير")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Add_TRline">
               <div style="padding:10px">
                    <div class="row" style="padding-bottom:10px">
                            <div class="col-md-1">
                                <label for="template_name"> الاسم</label>
                            </div>
                            <div class="col-md-9">
                                @Html.Kendo().TextBox().Name("addTrline").HtmlAttributes(new { placeholder = " اسم الخط" })
                            </div>
                    </div>

                    <div class="row" style="padding-bottom:10px">
                            <div class="col-md-1">
                                <label for="template_name"> المحافظة</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر محافظة الخط")
                                                .Name("addlineCity")
                                                .DataTextField("NAME")
                                                .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetCity", "Codes");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )
                            </div>

                             <div class="col-md-1">
                                <label for="template_name"> نوع الخط</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر نوع الخط")
                                                .Name("addlinetyp")
                                                .DataTextField("NAME")
                                                .DataValueField("ID").HtmlAttributes(new {  required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                                .Events(e => e.Change("onsele"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("Gettrlinetyps", "Codes");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )
                            </div>
                        </div>
                   <div class="row" style="padding-bottom:10px">
                        <div class="col-md-1">
                                <label for="template_name"> عدد الادنى</label>
                            </div>
                         <div class="col-md-3" >

                       @Html.Kendo().NumericTextBox().Spinners(false).Format("0").Name("AddtrlineMINCARS").HtmlAttributes(new { placeholder = "عدد المركبات الادنى"})



                       </div>
                          <div class="col-md-1">
                                <label for="template_name"> عدد الاعلى</label>
                            </div>
                         <div class="col-md-3" >

                               @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("AddtrlinemaxCARS")
                                .HtmlAttributes(new { placeholder = "عدد المركبات الاعلى" }))



                       </div>
                    </div>
                   <div class="row" id="divaddlineallCity">
                               <div class="col-md-1">
                                         <label for="template_name">محافظات الخط</label>
                               </div>
                                <div class="col-md-9">
                                   @(Html.Kendo().MultiSelect().Filter("contains")
                                    .Name("addlineallCity")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetallCity", "Codes");
                                        });

                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                                </div>
                    </div>
               </div>
               <div class="window-footer">
                   <button class="btn btn-primary" onclick="SaveAdd()">حفظ</button>
                   <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>

               </div>
        </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(800)
            .Height(350)
            .Pinned()
            .HtmlAttributes(new { style = "Width: 100%  !important;" })
            )
</div>

<div class="k-rtl">
    @(Html.Kendo().Window().Name("CanEditTRline")
            .Title(" ")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
    <div style="text-align:center;">
          @Html.Hidden("caneditlinenb")

        <span style="text-align:center; font-size:20px;" >
            هل انت متاكد من اعادة فتح التعديل لهذا الخط؟
        </span>
        <div class="window-footer">
                   <button class="btn btn-primary" onclick="SaveCanEdit()">حفظ</button>
                   <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>
               </div>

    </div>
             </text>)
            .Draggable(true)
            .Resizable()
            .Width(800)
            .Height(350)
            .Pinned()
            .HtmlAttributes(new { style = "Width: 100%  !important;" })
            )
</div>

<div class="k-rtl">
    @(Html.Kendo().Window().Name("AddNewtrcity")
            .Title("اضافة محافظة")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Add_TRline">
               <div style="padding:10px">
                    @Html.Hidden("trnb")
                    <div class="row" style="padding-bottom:10px">
                            <div class="col-md-1">
                                <label for="template_name"> المحافظة</label>
                            </div>
                            <div class="col-lg-5 col-md-3 col-sm-12 col-xs-12">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر محافظة الخط")
                                                .Name("addlineCity2")
                                                .DataTextField("NAME")
                                                .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetallCity", "Codes");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )
                            </div>
                        </div>
               </div>
               <div class="window-footer">
                   <button class="btn btn-primary" onclick="SaveAddcity()">حفظ</button>
                   <button class="btn btn-danger" onclick="ColseWindowaddcity()">اغلاق</button>
               </div>
        </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(500)
            .Height(250)
            .Pinned()
            .HtmlAttributes(new { style = "Width: 100%  !important;" })
            )
</div>


<!-- Edit -->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("EidtTRline")
            .Title("تعديل خط سير")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Add_TRline">
               <div style="padding:10px">
                    @Html.Hidden("Etrnb")
                    <div class="row" style="padding-bottom:10px">
                            <div class="col-md-1">
                                <label for="template_name"> الاسم</label>
                            </div>
                            <div class="col-md-9">
                                @Html.Kendo().TextBox().Name("ETrline").HtmlAttributes(new { placeholder = " اسم الخط" })
                            </div>
                    </div>
                     <div class="row" style="padding-bottom:10px">
                            <div class="col-md-1">
                                <label for="template_name"> المسار</label>
                            </div>
                            <div class="col-md-9">
                                @Html.Kendo().TextBox().Name("ETrlinepath").HtmlAttributes(new { placeholder = " مسار الخط" })
                            </div>
                    </div>
                    <div class="row" style="padding-bottom:10px">
                            <div class="col-md-1">
                                <label for="template_name"> المحافظة</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر محافظة الخط")
                                                .Name("ElineCity")
                                                .DataTextField("NAME")
                                                .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetallCity", "Codes");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )
                            </div>

                             <div class="col-md-1">
                                <label for="template_name"> نوع الخط</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر نوع الخط")
                                                .Name("Elinetyp")
                                                .DataTextField("NAME")
                                                .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("Gettrlinetyps", "Codes");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )
                            </div>
                        </div>
                   <div class="row" style="padding-bottom:10px">
                        <div class="col-md-1">
                                <label for="template_name"> عدد الادنى</label>
                            </div>
                         <div class="col-md-3" >

                       @Html.Kendo().NumericTextBox().Spinners(false).Format("0").Name("EtrlineMINCARS").HtmlAttributes(new { placeholder = "عدد المركبات الادنى"@*, required = "required", data_required_msg = "هذا الحقل مطلوب"*@})



                       </div>
                          <div class="col-md-1">
                                <label for="template_name"> عدد الاعلى</label>
                            </div>
                         <div class="col-md-3" >

                               @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("EtrlinemaxCARS")
                                .HtmlAttributes(new { placeholder = "عدد المركبات الادنى"/*, required = "required", data_required_msg = "هذا الحقل مطلوب"*/}))



                       </div>
                    </div>
                     <div class="row">
                       <div class="col-md-1">
                        <label for="template_name"> هل متاح</label>
                    </div>
                            <div class="col-md-3">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر")
                                                .Name("EtrlineStatus")
                                                .DataTextField("Text")
                                                .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                                .BindTo(new List<SelectListItem>() {
                                                      new SelectListItem() {
                                                          Text = "نعم",
                                                          Value = "1"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "لا",
                                                          Value = "0"
                                                      }
                                                  })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )

                            </div>

                            <div class="col-md-1" >
                                <label for="template_name"> هل ملغى</label>
                            </div>
                            <div class="col-md-3">
                                @(Html.Kendo().DropDownList()
                                                .OptionLabel("اختر")
                                                .Name("EtrlineCANCELD")
                                                .DataTextField("Text")
                                                .DataValueField("Value").HtmlAttributes(new { required = "required", validationmessage = "*"})
                                                .BindTo(new List<SelectListItem>() {
                                                      new SelectListItem() {
                                                          Text = "نعم",
                                                          Value = "1"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "لا",
                                                          Value = "0"
                                                      }
                                                  })
                                                .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                                )

                            </div>
                       </div>
               </div>
                 <div>
          @Html.Hidden("isedite")

        <button id="btnAddNewcity" class="btn btn-primary hvr-box-shadow-outset savecanedit" >
                        إضافة جديد
        </button>


    @(Html.Kendo().Grid <Proced.DataAccess.Models.CF.TRLINE_CITY>()
            .Name("gridcity").AutoBind(false)
            .Columns(columns =>
            {
                // columns.Template(t => { }).Title("م.").ClientTemplate(
                //  "#= renderNumber(data) #"
                //).Width(80);
                columns.Bound(c => c.NB).Visible(false);
                columns.Bound(c => c.LINENB).Visible(false);

                columns.ForeignKey(c => c.CITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150);
                //columns.Bound(c => c.CITYNB).Width(150);
                columns.Bound(c => c.ORDR).Width(150).Title("الترتيب");
                // columns.Bound(c => c.NOTES).Width(150);

                columns.Bound(c => c.LINENB).ClientTemplate
                  (" # if (getisedite() == '') if " +
                  "(1 == 1)" +
                  "{#<button id='' title='حذف' class='k-button k-button-icontext k-grid-Delete hvr-box-shadow-outset k-state-border-down' onclick='Deletecity(#=NB#)'> </button> #" +
                  "} #")
                .Sortable(false).Title(" ").Width(100).Filterable(false);

                //columns.Command(command =>
                //{


                //    command.Custom("Delete").Click("Deletecity").Text(" ");
                //}).Width(100);
            })
            .HtmlAttributes(new { style = "height: auto  !important;" })
            .Scrollable()
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(15)
            .Model(model => model.Id(p => p.NB))

            .Read(read => read.Action("Read_city", "TrLines").Data("GetCommNbRead")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {

                //  toolbar.Custom().Name("AddNewcity").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNewcity", @class = "btn btn-primary hvr-box-shadow-outset" });
            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  " + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons")
            .DataBound("setIcons")
            .Sort("setIcons")
            .Filter("setIcons")
            .Group("setIcons")
            .Page("setIcons")
            .Cancel("setIcons")
        //.Edit("hideIdField")


        )
)

</div>
               <div class="savecanedit" style="text-align:center;">
                   <button class="btn btn-primary" onclick="SaveEidt()">حفظ</button>
                   <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>

               </div>
        </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(1200)
            .Height(675)
            .Pinned()
            .HtmlAttributes(new { style = "Width: 100%  !important;" })
            )
</div>


<script>


    function onsele()
    {
        var Typ = $("#addlinetyp").val();

        if (Typ == "1") {
            $("#addlineallCity").data("kendoMultiSelect").value("")

            $('#divaddlineallCity').css('display', 'none');

        } else {
            $('#divaddlineallCity').css('display', 'block');
        }
    }

    var nb = 0;

    function GetFillters() {
        var fillter = {};
        fillter.STrline = $('#STrline').val();
        fillter.SlineCity = $('#SlineCity').val();
        fillter.StrlineStatus = $('#StrlineStatus').val();
        fillter.StrlineCANCELD = $('#StrlineCANCELD').val();
        fillter.STrnb = $('#STrnb').val();
        fillter.STrlinepath = $('#STrlinepath').val();


        return fillter;
    }


    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.page([1]);

    }

    function rest_filtters() {
        $('#STrline').val("");
        $('#STrlinepath').val("");


        $("#StrlineCANCELD").data("kendoDropDownList").value(-1);
        $("#SlineCity").data("kendoDropDownList").value(-1);
        $("#StrlineStatus").data("kendoDropDownList").value(-1);
        $("#STrnb").data("kendoNumericTextBox").value("");
        //$("#grid").data("kendoGrid").dataSource.page([1]);
        $("#grid").data("kendoGrid").dataSource.data([]);
    }

    $("#AddNew").click(function () {
        $('#addTrline').val("");
        $("#AddtrlinemaxCARS").data("kendoNumericTextBox").value("")
        $("#AddtrlineMINCARS").data("kendoNumericTextBox").value("")
        $("#addlineallCity").data("kendoMultiSelect").value("")
        $("#addlineCity").data("kendoDropDownList").value(-1)
        $("#addlinetyp").data("kendoDropDownList").value(-1)
        var wnd = $("#AddTRline").data("kendoWindow");
        wnd.center().open();
    });

    $("#btnAddNewcity").click(function () {

        $("#addlineCity2").data("kendoDropDownList").value(-1)
        $("#AddNewtrcity").data("kendoWindow").center().open();

    });

    $("#namepercent").click(function () {

        var perbane = $('#STrline').val();
        $('#STrline').val("%" + perbane +"%");
    });

    $("#namepercentpath").click(function () {

        var perbanepath = $('#STrlinepath').val();
        $('#STrlinepath').val("%" + perbanepath + "%");
    });

    function SaveAdd() {

        var validator = $("#Add_TRline").kendoValidator().data("kendoValidator");
        if (validator.validate())
        {
var name = $('#addTrline').val();
        var City = $("#addlineCity").val();
        var Typ = $("#addlinetyp").val();
        var Min = $("#AddtrlineMINCARS").val();
        var Max = $("#AddtrlinemaxCARS").val();
        var addlineallCity = $("#addlineallCity").data("kendoMultiSelect").value();

        var windowWidget = $("#AddTRline").data("kendoWindow");



        if (Typ == "3" && addlineallCity == "") {

            toastr.error("يجب اختيار محافظات الخط");
        } else {
            kendo.ui.progress(windowWidget.element, true);
        $.ajax({
            type: "POST",
            data: { Name: name, city: City, typ: Typ, min: Min, max: Max, allcity: addlineallCity},
                url: "@Url.Action("Create", "TrLines")",
                success: function (response) {
                    if (response.success) {
                        kendo.ui.progress(windowWidget.element, false);
                        ColseWindow();


                        toastr.success("تمت عملية الإضافة بنجاح");
                    } else {
                        kendo.ui.progress(windowWidget.element, false);
                        toastr.error(response.responseText);
                    }

                }
            });
        }
        }




    }


    function Deletecity(NB)
    {
        var item = $("#gridcity").data("kendoGrid").dataSource.get(NB);

        $("#gridcity").data("kendoGrid").dataSource.remove(item);
        //var tr = $(e.target).closest("tr");    // get the current table row (tr)
        //var item = this.dataItem(tr);
        @*var NNB = item.NB;
         $.ajax({
            type: "POST",
            data: { nb : NNB},
                url: "@Url.Action("Deletecity", "TrLines")",
                success: function (response) {
                    if (response.success) {
                        $("#gridcity").data("kendoGrid").dataSource.page(1);
                        toastr.success("تمت عملية الإضافة بنجاح");
                    } else {

                        toastr.error(response.responseText);
                    }

                }
            });*@
    }

    function ShowCanEdit(nb)
    {
        var item = $("#grid").data("kendoGrid").dataSource.get(nb);
        //e.preventDefault();
        //var tr = $(e.target).closest("tr");    // get the current table row (tr)
        //var item = this.dataItem(tr);          // get the date of this row

        iid = item.NB;

   
        $('#caneditlinenb').val(item.NB);

        $.when(HtmlPageCanDoIt("TrLines", "SetCanEditTrue", "")).done(function (s1) {

            if (s1 == "False") {


            }
            else {


                var wnd = $("#CanEditTRline").data("kendoWindow");
                wnd.center().open();
            }

        });
      
        

    }

    function getisedite() {
        return $('#isedite').val();
    }
    iid = 0;

    function GetCommNbRead()
    {

        return {
            Nb: iid
        }
    }

    function SaveAddcity()
    {
        var windowWidget = $("#AddNewtrcity").data("kendoWindow");
        var tt = $('#trnb').val();
        var fff = $('#addlineCity2').val();
        var grid22 = $("#gridcity").data("kendoGrid");
        var dataSource22 = grid22.dataSource;

        //records on current view / page
        var recordsOnCurrentView = dataSource22.view().length;
       

        var model = {
            NB : 1,
            LINENB: tt,
            CITYNB: fff,
            ORDR: recordsOnCurrentView +  1
        }

        $("#gridcity").data("kendoGrid").dataSource.add(model);
        ColseWindowaddcity();

     
    }

    function Edit(nb)
    {
        //var tr = $(e.target).closest("tr");    // get the current table row (tr)
        var item = $("#grid").data("kendoGrid").dataSource.get(nb);
        $('#Etrnb').val(item.NB);
        $('#ETrline').val(item.NAME);
        $("#ElineCity").data("kendoDropDownList").value(item.CITYNB);
        $("#Elinetyp").data("kendoDropDownList").value(item.TYP);
        $("#EtrlineMINCARS").data("kendoNumericTextBox").value(item.MINCARS);
        $("#EtrlinemaxCARS").data("kendoNumericTextBox").value(item.MAXCARS);
        $('#ETrlinepath').val(item.LINEPATH);


        if (item.STATUS == true) {

            $("#EtrlineStatus").data("kendoDropDownList").value(1);

        }
        if (item.STATUS == false) {
            $("#EtrlineStatus").data("kendoDropDownList").value(0);
        }

        $("#EtrlineCANCELD").data("kendoDropDownList").value(item.ISCANCELD);




      //  var item = $("#grid").data("kendoGrid").dataSource.get(nb);
        //e.preventDefault();
        //var tr = $(e.target).closest("tr");    // get the current table row (tr)
        //var item = this.dataItem(tr);          // get the date of this row

        iid = item.NB;

        $('#isedite').val(item.SESNB);

        var IsCanEdit = item.CANEDIT;

        $('#trnb').val(item.NB);

        $("#gridcity").data("kendoGrid").dataSource.read();
        if (getisedite() > 0) {
            $("#btnAddNewcity").css("display", "none");

        }

        if (getisedite() == "") {

            $("#btnAddNewcity").css("display", "block");

        }
       

        if (IsCanEdit == true)
        {
            $(".savecanedit").css("display", "block");
            
        }
        if (IsCanEdit == false) {
            $(".savecanedit").css("display", "none");

        }
        $.when(HtmlPageCanDoIt("TrLines", "update", "")).done(function (s1) {

            if (s1 == "False") {


            }
            else {

                $("#EidtTRline").data("kendoWindow").center().open();
            }

        });

       

    }

    function SaveEidt()
    {
        var windowWidget = $("#EidtTRline").data("kendoWindow");

        var enb = $('#Etrnb').val();
        var ename = $('#ETrline').val();
        var eCity = $("#ElineCity").val();
        var eTyp = $("#Elinetyp").val();
        var eMin = $("#EtrlineMINCARS").val();
        var eMax = $("#EtrlinemaxCARS").val();
        var eSTATUS = $("#EtrlineStatus").val();
        var eISCANCELD = $("#EtrlineCANCELD").val();
        var eETrlinepath = $("#ETrlinepath").val();


        var gridgridcity = $("#gridcity").data("kendoGrid");
        var dataSourcegridcity = gridgridcity.dataSource;
        var sbjs = JSON.stringify(dataSourcegridcity.data().toJSON());

        kendo.ui.progress(windowWidget.element, true);
        $.ajax({
            type: "POST",
            data: { Nb: enb, Name: ename, city: eCity, typ: eTyp, min: eMin, max: eMax, STATUS: eSTATUS, ISCANCELD: eISCANCELD, eLINEPATH: eETrlinepath, mod: sbjs},
                url: "@Url.Action("update", "TrLines")",
                success: function (response) {
                    if (response.success) {

                        //$("#grid").data("kendoGrid").dataSource.read();
                        $("#grid").data("kendoGrid").dataSource.page(1);
                        $("#EidtTRline").data("kendoWindow").center().close();

                        toastr.success("تمت عملية الإضافة بنجاح");
                        kendo.ui.progress(windowWidget.element, false);
                    } else {
                        toastr.error(response.responseText);
                        kendo.ui.progress(windowWidget.element, false);
                    }

                }
            });
    }


    function ColseWindowaddcity() {

        $("#AddNewtrcity").data("kendoWindow").center().close();


    }

    function ColseWindow() {
        $("#EidtTRline").data("kendoWindow").center().close();
        $("#AddTRline").data("kendoWindow").center().close();
        $("#AddNewtrcity").data("kendoWindow").center().close();


    }
    function getcolor() {

        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.SESNB != null)
            {
                $('tr[data-uid="' + row.uid + '"] ').css("color", "#228B22");
                $('tr[data-uid="' + row.uid + '"] ').css("font-weight", "bold");
            }
               
          
        })
        setIcons();



    }
</script>

<script>
    function renderNumber(data) {

        return data.Seq;
    }


    function SaveCanEdit() {
        var linenb = $('#caneditlinenb').val();

    $.ajax({
            type: "POST",
        data: { linb: linenb},
                url: "@Url.Action("SetCanEditTrue", "TrLines")",
                success: function (response) {
                    if (response.success) {
                        $("#grid").data("kendoGrid").dataSource.page(1);
                        toastr.success("تمت العملية  بنجاح");
                     
                        $("#CanEditTRline").data("kendoWindow").center().close();

                    } else {
                      
                        toastr.error(response.responseText);
                    }

                }
            });
    }
</script>

