
@{
    ViewBag.Title = "كتب التحويل" + " - " + @ViewBag.cityname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>



    .bordered {
        border: 1px dashed #a0ddd8;
        transition: all ease-in-out 0.3s;
    }

    .row.SessionInfo > .bordered {
        border: 1px dashed #ccc;
    }

        .row.SessionInfo > .bordered:hover {
            border: 2px dashed #5264f3;
            background-color: #bbc6cc;
        }

    .row.SessionInfo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

        .row.SessionInfo > [class*='col-'] {
            display: flex;
            flex-direction: column;
            padding-top: 7px;
        }
</style>

<script>
    var totalval = 0;
</script>
@section PartialHeader{
    <div class="panel-heading1 " id="searchPanel">
        <div style="padding:10px">
            <div class="row" style="padding-bottom:10px">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> رقم الكتاب</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @Html.Kendo().TextBox().Name("NO").HtmlAttributes(new { placeholder = " رقم الكتاب" })
                </div>
                <div class="col-lg-1 col-md-2">
            <label for="template_name"> تاريخ الكتاب</label>
        </div>
        <div class="col-lg-2 col-md-4">
            @(Html.Kendo().DatePicker()
                .Name("ssGDATE")
                .Format("{0:dd/MM/yyyy}")
                .HtmlAttributes(new { placeholder = "تاريخ الكتاب ", style = "width: 100%; text-align:center;" })
            )
        </div>
                @*<div class="col-lg-1 col-md-2">
            <label for="template_name"> المحافظة</label>
        </div>*@
                @*<div class="col-lg-2 col-md-4">
            @(Html.Kendo().DropDownList()
                            .OptionLabel("اختر محافظة ")
                            .Name("CITYNB")
                            .DataTextField("NAME")
                            .DataValueField("ID").HtmlAttributes(new { required = "required", validationmessage = "*"})
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCity", "Codes");
                                });
                            })
                            .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                            )
        </div>*@
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> التاريخ الرسوم </label>
                </div>
                <div class="col-lg-3 col-md-4">
                    @(Html.Kendo().DatePicker()
                        .Name("DATEStart")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "ادخل تاريخ ضمن مجال الرسوم",  style = "width: 100%; text-align:center;" })
                    )
                </div>
                @*<div class="col-lg-1 col-md-2">
            <label for="template_name"> التاريخ الى</label>
        </div>
        <div class="col-lg-2 col-md-4">
            @(Html.Kendo().DatePicker()
                .Name("DATEEnd")
                .Format("{0:dd/MM/yyyy}")
                .HtmlAttributes(new { placeholder = "تاريخ الكتاب الى", required = "required", validationmessage = "*", style = "width: 100%; text-align:center;" })
            )
        </div>*@
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> حالة الكتاب</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر  حالة ")
                                    .Name("Status")
                                    .DataTextField("NAME")
                                    .DataValueField("ID")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetStatus", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )
                </div>
                <div class="col-lg-1 col-md-2">
                    <label for="template_name"> حالة الارشفة</label>
                </div>
                <div class="col-lg-2 col-md-4">
                    @(Html.Kendo().DropDownList()
                                    .OptionLabel("اختر حالة الارشفة")
                                    .Name("StrSessArc")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "مؤرشفة",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "غير مؤرشفة",
                                              Value = "0"
                                          }
                                      })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )

                </div>
                <div class="col-lg-2 col-md-4">
                    <button id="" class="btn btn-primary mybuttonsearch" onclick="Btn_Search()"> <i class="fa fa-search"></i> </button>
                    <button id="" class="btn btn-danger mybuttonsearchreset" onclick="rest_filtters()"> <i class="fa fa-close"></i> </button>
                </div>
            </div>
        </div>
    </div>
}



<!-- Grid  -->
<div>
    @(Html.Kendo().Grid <Proced.DataAccess.Models.CF.TRGET_ORDERS>()
            .Name("grid").AutoBind(false)
            .Columns(columns =>
            {
                columns.Template(t => { }).Title("م.").ClientTemplate(
                 "#= isArchived(data) #"
               ).Width(80);
                columns.Bound(c => c.FTP_PATH).Visible(false);
                columns.Bound(c => c.IS_ARCHIVED).Visible(false);
                columns.Bound(c => c.NB).Visible(false);
                columns.ForeignKey(c => c.CITYNB, (System.Collections.IEnumerable)ViewData["zcities"], "ID", "NAME").Title("المحافظة").Width(150).Title("المحافظة");
                columns.Bound(c => c.CITYNB).Visible(false);
                columns.Bound(c => c.NO).Width(150).Title("رقم الكتاب");
                columns.Bound(c => c.GDATE).Format("{0:dd/MM/yyyy}").Width(150).Title("تاريخ الكتاب");
                columns.Bound(c => c.STATUS).Visible(false);
                columns.ForeignKey(c => c.STATUS, (System.Collections.IEnumerable)ViewData["STATUS"], "ID", "NAME").Title("الحالة").Width(150).Title("الحالة");
                columns.Bound(c => c.FROMDATE).Format("{0:dd/MM/yyyy HH:mm:ss}").Width(200).Title("تاريخ الرسوم من");
                columns.Bound(c => c.TODATE).Format("{0:dd/MM/yyyy HH:mm:ss}").Width(200).Title("تاريخ الرسوم الى");
                columns.Bound(c => c.AMOUNT).Width(200).Title("القيمة الاجمالية");

                columns.Bound(c => c.CONFIRM_DATE).Format("{0:dd/MM/yyyy}").Width(200).Title("تاريخ التثبيت");



                columns.Bound(c => c.NOTES).Width(400).Title("ملاحظات");

                columns.Command(command =>
                {
                    //command.Custom("Preview").Click("Preview").Text(" ");
                    //    command.Custom("Edit").Click("Edit").Text(" ");
                    //  command.Custom("Delete").Click("Delete").Text(" ");
                    //    command.Custom("DetailsMembers").Click("DetailsMembers").Text(" ");
                    //  command.Custom("Details2").Click("Details2").Text(" ");
                    //command.Custom("Deletear").Click("DeleteARCHIVED").Text(" ");
                }).Width(180);
            })
            .HtmlAttributes(new { style = "height: aotu  !important;" })
            .Scrollable()
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            //.Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("OnRequestEnd"))
            .PageSize(10)
            .Model(model => model.Id(p => p.NB))
            .Read(read => read.Action("TRGET_ORDERS_Read", "PassengersAccount").Data("GetFillters")))
            .Resizable(resize => resize
            .Columns(true)
            )
            .ToolBar(toolbar =>
            {
                toolbar.Custom().Name("AddNew").Text(" إضافة جديد ").Url("#").HtmlAttributes(new { id = "AddNew", @class = "btn btn-primary hvr-box-shadow-outset" });
            })
                .Pageable(pa => pa.Messages(m => m.First(HelperLib.ControlLabelsAR.KendoGridFirstPage)
                                      .Last(HelperLib.ControlLabelsAR.KendoGridLastPage)
                                      .MorePages(HelperLib.ControlLabelsAR.KendoGridMorePages)
                                      .ItemsPerPage(HelperLib.ControlLabelsAR.KendoGridItemsPerPage)
                                       .Empty(("  " + Convert.ToString(ViewBag.total_records_OWN)))
                                      .AllPages(HelperLib.ControlLabelsAR.KendoGridAllPages)
                                      .Next(HelperLib.ControlLabelsAR.KendoGridNext)
                                      .Of(HelperLib.ControlLabelsAR.KendoGridOf)
                                      .Page(HelperLib.ControlLabelsAR.KendoGridPage)
                                      .Previous(HelperLib.ControlLabelsAR.KendoGridPrevious)
                                      .Refresh(HelperLib.ControlLabelsAR.KendoGridRefresh)
                                      .Display("العدد الكلي للسجلات :  {2}")
                                      )
                                    .Refresh(true)
                                    .Input(true)
                                    .Info(true)
          ).Events(events => events
            .Change("setIcons2")
            .DataBound("setIcons2")
            .Sort("setIcons2")
            .Filter("setIcons2")
            .Group("setIcons2")
            .Page("setIcons2")
            .Cancel("setIcons2")
        //.Edit("hideIdField")
        )
)

</div>


<!-- Add TRGET_ORDERS-->
<div class="k-rtl">
    @(Html.Kendo().Window().Name("AddTRGET_ORDERS")
            .Title("اضافة تحويل جديد")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
           <div id="Add_ORDERS">
               <div class="row col-11">
                    <div class="col-lg-1 col-md-1 col-sm-12">
                     رقم الكتاب
                    </div>

                   <div class="col-lg-4 col-md-2 col-sm-12">
                       @Html.Kendo().TextBox().Name("AddORDERSNo").HtmlAttributes(new { placeholder = "رقم الكتاب", required = "required", data_required_msg = "هذا الحقل مطلوب" })


                   </div>

                   <div class="col-lg-1 col-md-1 col-sm-12">
                    تاريخ الكتاب
                   </div>

                   <div class="col-lg-4 col-md-2 col-sm-12">
                          @(Html.Kendo().DatePicker()
                                  .Name("AddGDATEDate").Format("{0:dd/MM/yyyy}")
                                  .HtmlAttributes(new { placeholder = "تاريخ الكتاب", required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                  .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )


                   </div>
                    @*<div class="col-lg-1 col-md-1 col-sm-12" >
                   المحافظة
                   </div>*@

                   @*<div class="col-lg-2 col-md-2 col-sm-12">
                          @(Html.Kendo().DropDownList()
                                    .Name("AddCITYNB")
                                    .DataTextField("NAME")
                                    .DataValueField("ID").HtmlAttributes(new { required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetCity", "Codes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )


                   </div>*@
               </div>
               <br />
               <div class="row col-11">
                   <div class="col-lg-12 col-md-12 col-sm-12">
                       @Html.Kendo().TextBox().Name("AddNOTES").HtmlAttributes(new { placeholder = "ملاحظات" })


                   </div>
                </div>
               <br />
               <div class="row col-11">
                    <div class="col-md-1 col-sm-12">
                        تاريخ الرسوم
                    </div>

                    <div class="col-md-4 col-sm-12">

                       @(Html.Kendo().DateTimePicker()
                                        .Name("AddFROMDATE")
                                        .Format("{0:dd/MM/yyyy HH:mm:ss}")
                                        .TimeFormat("HH:mm:ss")
                                        //.Format("dd/MM/yyyy HH:mm")
                                        .HtmlAttributes(new { placeholder = "تاريخ من", required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                        .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                    )


                    </div>

                    <div class="col-md-1 col-sm-12">
                        تاريخ الرسوم
                    </div>

                    <div class="col-md-4 col-sm-12">
                              @(Html.Kendo().DateTimePicker()
                                            .Name("AddTODATE").Format("{0:dd/MM/yyyy HH:mm:ss}")
                                        .TimeFormat("HH:mm:ss")
                                            .HtmlAttributes(new { placeholder = "تاريخ الى", required = "required", data_required_msg = "هذا الحقل مطلوب" })
                                            .HtmlAttributes(new { style = "width: 100%; text-align:center;" })
                                        )


                    </div>
               </div>



               <div class="row col-11">
                   <div class="col-md-12 col-sm-12" style="text-align:center;">
                       <button class="btn btn-primary hvr-box-shadow-outset" onclick="GetResult()" >بحث. . </button>
                   </div>
               </div>
               <br />

               <div class="row col-11" id="Result" style="text-align:center; display:none">
                    <div class="col-lg-12" style="text-align:center;">
                           <table width="50%" style="margin-left: auto; margin-right: auto;">

                               <tbody>
                                     <tr>
                                           <td  style="text-align: center;">

                                               <div class="row  SessionInfo">
                                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 bordered">
                                                          <span style="text-align: center;">
                                                           عدد الايصالات
                                                           </span>
                                                    </div>

                                                   <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 bordered">
                                                          <span style="text-align: center;">
                                                           القيمة الاجمالية
                                                           </span>
                                                   </div>
                                               </div>



                                           </td>
                                       </tr>
                                       <tr>
                                           <td  style="text-align: center;">
                                                <div class="row  SessionInfo">
                                                     <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 bordered">
                                                         <span id="Result_count" style="text-align: center;">

                                               </span>
                                                    </div>

                                                   <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 bordered">
                                                          <span id="Result_amount" style="text-align: center;">

                                               </span>
                                                   </div>
                                                    </div>

                                           </td>

                                       </tr>
                               </tbody>
                           </table>
                    </div>
               </div>

               <div id="Include_Exclude" class="row col-11" style="display:none">
                   <div class="col-lg-5 col-md-5">
                       <span> المعاملات المستثنات من التحويل</span>
                       <div id="container_ex">

                                    <button id="add-new-btn_ex" class="btn btn-primary">اضافة رمز معاملة</button>

                                    <br>
                                    <br>
                                    <table id="employee-table_ex">

                                    </table>
                       </div>
                   </div>
                    <div class="col-lg-1 col-md-1">

                     </div>
                     <div class="col-lg-5 col-md-5">
                       <span> المعاملات المراد تضمينها في التحويل</span>
                       <div id="container_in">

                                    <button id="add-new-btn_in" class="btn btn-primary">اضافة رمز معاملة</button>

                                    <br>
                                    <br>
                                    <table id="employee-table_in">

                                    </table>
                       </div>
                   </div>


               </div>

                <div class="row col-11">
                       <div class="col-lg-5 col-md-5 col-sm-12" style="text-align: center; border-top: 1px solid #e5e5e5;margin-top:10px ">
                         <button class="btn btn-primary" onclick="SaveAddTRGET_ORDERS()">حفظ</button>
                         <button class="btn btn-danger" onclick="ColseWindow()">اغلاق</button>
                       </div>

                       <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center; border-top: 1px solid #e5e5e5;margin-top:10px ">

                               <span class="btn btn-primary btn-file">
                                                        اختر ملف . . <i class="fa fa-upload"></i> <input accept=".PDF" id="DocumentsFiles" name="DocumentsFiles" type="file">
                                                    </span>

                             @*   <button class="btn btn-primary" onclick="setvvv()"> حفظ ورفع الملف</button>*@

                       </div>

                 </div>

           </div>
            </text>)
            .Draggable(true)
            .Resizable()
            .Width(1200)
            .Height(700)
            .Actions(actions => actions.Pin().Minimize().Maximize().Close())
            .Pinned()
            )
    <script>
    function Btn_Search() {
        $("#grid").data("kendoGrid").dataSource.read();
    }
    function GetFillters() {
        var fillter = {};
        fillter.NO = $('#NO').val();
        fillter.DATEStart = $('#DATEStart').val();
        fillter.ssGDATE = $('#ssGDATE').val();
        fillter.Status = $('#Status').val();
        fillter.StrSessArc = $('#StrSessArc').val();
        fillter.citynb = @ViewBag.citynb;


        return fillter;
    }
    </script>



    <script>
        function SaveAddTRGET_ORDERS()
        {
            var FROMDATE1 = $('#AddFROMDATE').val();
            var TODATE1 = $('#AddTODATE').val();
            if (FROMDATE1 != "" || TODATE1 != "") {
                if ($("#DocumentsFiles").val() != "") {
                    var is_pdf = fileValidation($("#DocumentsFiles").val());
                    if (is_pdf) {

                        var is_size = Filevalidationsize();
                        if (is_size) {
                           


                           

                            var windowWidget = $("#AddTRGET_ORDERS").data("kendoWindow");

                            if (@ViewBag.citynb == "") {
                                toastr.error("يجب اختيار المحافظة");
                            }
                            else {


                                var validator = $("#Add_ORDERS").kendoValidator().data("kendoValidator");

                                if (validator.validate()) {
                                    kendo.ui.progress(windowWidget.element, true);
                                    var listex = [];
                                    $("#employee-table_ex").find('tr').each(function () {
                                       

                                        var data1 = $(this).find("td input[type='text']").val();
                                       
                                        if (data1 != "") {
                                            listex.push(data1);
                                        }
                                    });
                                    var listin = [];
                                  
                                    $("#employee-table_in").find('tr').each(function () {
                                       
                                        var data2 = $(this).find("td input[type='text']").val();
                                        if (data2 != "") {
                                            alert(data2);

                                            listin.push(data2);
                                        }
                                    });
                                    alert(listin);
                                    alert(listex);

                                    
                                    var CITYNB = @ViewBag.citynb;

                                    var NO = $('#AddORDERSNo').val();
                                    var GDATE = $("#AddGDATEDate").val();

                                    // var   FROMDATE: $("#AddFROMDATE").val(),
                                    //var    TODATE: $("#AddTODATE").val(),



                                    var fileUpload = $("#DocumentsFiles").get(0);
                                    var files = fileUpload.files;

                                    // Create FormData object
                                    var fileData = new FormData();

                                    // Looping over all files and add it to FormData object
                                    for (var i = 0; i < files.length; i++) {
                                        fileData.append("Files", files[i]);
                                    }
                                    fileData.append("NO", NO);
                                    fileData.append("GDATE", GDATE);
                                    fileData.append("CITYNB", CITYNB);
                                    fileData.append("FROMDATE", FROMDATE1);
                                    fileData.append("TODATE", TODATE1);
                                   fileData.append("EXCLUDES", listex);
                                    fileData.append("INCLUDES", listin);
                                    fileData.append("PTOTALVAL", totalval);

                                    
                                    // { Files: files[0], NO: NO, GDATE: GDATE, CITYNB: CITYNB, FROMDATE: FROMDATE1, TODATE: TODATE1, PTOTALVAL: totalval ,EXCLUDES: listex, INCLUDES: listin},
                                    // { fileData, EXCLUDES: listex, INCLUDES: listin}

                                    $.ajax({
                                        url: '@Url.Action("TRGET_ORDERS_Create", "PassengersAccount")',
                                        type: "POST",
                                        data: fileData,
                                        contentType: false,
                                        processData: false,
                                        success: function (response) {
                                            if (response.success == true) {
                                                toastr.success(response.responseText);
                                                kendo.ui.progress(windowWidget.element, false);
                                            } else {
                                                toastr.error(response.responseText);
                                                kendo.ui.progress(windowWidget.element, false);

                                            }


                                        }
                                    });
                                }
                            }
                        }
                        else {
                            toastr.error("حجم الملف يجب ان لا يتجاوز 4 ميغا");
                        }
                    }
                    else {
                        toastr.error("يرجى اختيار ملف لاحقته PDF");
                    }
                }
                else {
                    toastr.error("يرجى اختيار الملف اولاً");
                }
            }
            else
            {
                toastr.error("يرجى ادخال التواريخ");
            }


        }
    </script>

    <script>
        function setIcons2() {
            setIcons();
            $(".k-grid-Deletear").addClass(" hvr-box-shadow-outset");
            $(".k-grid-Deletear").kendoButton({
                icon: "i fa fa-trash text-danger"
            });
            $(".k-grid-Deletear").kendoTooltip({
                content: "حذف الارشفة",
                position: "left",
                autoHide: true,
            });
        }
        $("#AddNew").click(function () {
            var todayDate = kendo.toString(kendo.parseDate(new Date()), 'dd/MM/yyyy');
            $("#AddGDATEDate").data("kendoDatePicker").value(todayDate);
            $('#AddORDERSNo').val("");
            // $('#AddComDate').val("");
            //$("#AddCITYNB").data("kendoDropDownList").value(1)
            $("#AddFROMDATE").val("");
            $("#AddTODATE").val("");
            $("#Add_comm span.k-tooltip-validation").hide();

            $("#employee-table_ex").find('tr').each(function () {

                deleteallRowin(this);

            });
            $("#employee-table_in").find('tr').each(function () {

                deleteallRowin(this);

            });
            document.getElementById('Result_count').innerHTML = 0;
            document.getElementById('Result_amount').innerHTML = 0;
            $('#Result').css('display', 'none');
            $('#Include_Exclude').css('display', 'none');

            var wnd = $("#AddTRGET_ORDERS").data("kendoWindow");
            wnd.center().open();
        });



        function isArchived(data) {
            var isArchived = false;
            if (data != null && data.IS_ARCHIVED == true) {
                isArchived = true;
            }

            if (isArchived) {
                return "<a  class='stepLnk' data-toggle='tooltip' onclick='showdoc(" + data.NB + ")' title='مؤرشفة' href='#'><i class='fa fa-folder'></i> " + data.Seq + "</a>";
            }
            else {
                return data.Seq;
            }

        }

         function showdoc(NB) {


        window.open("@Url.Action("GetReport", "PassengersAccount")" + "?NB=" + NB , "_blank");

    }
    </script>

    <script>

        function GetResult() {

            var windowWidget = $("#AddTRGET_ORDERS").data("kendoWindow");
            var CITYNB1 = @ViewBag.citynb;


            var FROMDATE1 = $('#AddFROMDATE').val();
            var TODATE1 =  $('#AddTODATE').val();
            if ( FROMDATE1 == "" || TODATE1=="") {
                toastr.error("يرجى اختيار التواريخ");
            } else {
                kendo.ui.progress(windowWidget.element, true);
                     $.ajax({
                    type: "POST",
                    data: { citynb: CITYNB1, FROMDATE: FROMDATE1, TODATE: TODATE1},
                    url: "@Url.Action("GetResult", "PassengersAccount")",
                    success: function (response) {
                        if (response.success) {
                            totalval = response.TOTVA2L;
                            document.getElementById('Result_count').innerHTML = response.CARBILLS_COUNT2;
                            document.getElementById('Result_amount').innerHTML = response.TOTVA2L;
                            $('#Result').css('display', 'block');
                            $('#Include_Exclude').css('display', 'block');
                            kendo.ui.progress(windowWidget.element, false);




                        } else {
                            kendo.ui.progress(windowWidget.element, false);
                            toastr.error(response.responseText);
                        }

                    }
                });
            }



        }
    </script>




    <script>

        /* This event will fire on 'Add New Row' button click */
        $("#add-new-btn_ex").on("click", function () {
            //calling method to add new row
            addNewRow();
        });

        /* This event will fire on 'Delete Row' button click */
        $("#delete-btn").on("click", function () {
            //calling method to delete the last row
            deleteRow();
        });

        /* This method will add a new row */
        function addNewRow() {
            var tableex = $('#employee-table_ex')[0];
            var rowCountin2222 = tableex.rows.length;
            var rowHtml = '<tr><td><span class="k-numeric-wrap k-state-default k-expand-padding"><input class="k-formatted-value k-input" placeholder="ادخل رمز المعاملة" type="text" /></span></td>'
                // late   //  + '<td> <span class="item"><span class="toggle-pill-color"><input type="checkbox" id="ex' + rowCountin2222 + '" name="check"><label for="ex' + rowCountin2222 + '"></label></span></span></td>'

                + '<td><a class="btn"  onclick="deleteRow(this)" > <i style="color: white" class="fa fa-trash" ></i></a ></td></tr>';

            $("#employee-table_ex").append(rowHtml);
        }

        /* This method will delete a row */
        function deleteRow(ele) {
            var table = $('#employee-table_ex')[0];
            var rowCount = table.rows.length;
            if (rowCount <= 0) {
                alert("There is no row available to delete!");
                return;
            }
            if (ele) {
                //delete specific row
                $(ele).parent().parent().remove();
            }
            else {
                //delete last row
                table.deleteRow(rowCount - 1);
            }
        }
    </script>
    <script>

        /* This event will fire on 'Add New Row' button click */
        $("#add-new-btn_in").on("click", function () {
            //calling method to add new row
            addNewRowin();
        });

        /* This event will fire on 'Delete Row' button click */
        $("#delete-btn").on("click", function () {
            //calling method to delete the last row
            deleteRowin();
        });


        /* This method will add a new row */
        function addNewRowin() {
            var tablein = $('#employee-table_in')[0];
            var rowCountin22 = tablein.rows.length;
            var rowHtml = '<tr><td><span class="k-numeric-wrap k-state-default k-expand-padding"><input class="k-formatted-value k-input" placeholder="ادخل رمز المعاملة" type="text" /></span></td>'
                // late    //   + '<td> <span class="item"><span class="toggle-pill-color"><input type="checkbox" value="in' + rowCountin22 + '" id="in' + rowCountin22 + '" name="check"><label for="in' + rowCountin22 + '"></label></span></span></td>'

                + '<td><a class="btn"  onclick="deleteRowin(this)" > <i style="color: white" class="fa fa-trash" ></i></a ></td></tr>';
            // late    // + '<td><a class="btn"  onclick="selectin(' + rowCountin22 + ')" > <i style="color: white" class="fa fa-check" ></i></a ></td></tr>';

            $("#employee-table_in").append(rowHtml);
            // late   // $("input[value='in" + rowCountin22 + "']").prop("disabled", true);

        }

        /* This method will delete a row */
        function deleteRowin(ele) {
            var tablein = $('#employee-table_in')[0];
            var rowCountin = tablein.rows.length;
            if (rowCountin <= 0) {
                alert("There is no row available to delete!");
                return;
            }
            if (ele) {
                //delete specific row
                $(ele).parent().parent().remove();
            }
            else {
                //delete last row
                tablein.deleteRow(rowCountin - 1);
            }
        }

        function deleteallRowin(ele) {

            $(ele).remove();
        }

        // late   //function selectin(idc) {
        //    alert(idc);
        //    $('#in' + idc).prop("checked", true);
        //}
    </script>


    <style>
        .item {
            margin-bottom: 2em;
        }
        /* toggle-pill-color */
        .toggle-pill-color input[type="checkbox"] {
            display: none;
        }

            .toggle-pill-color input[type="checkbox"] + label {
                display: block;
                position: relative;
                width: 3em;
                height: 1.6em;
                /*  margin-bottom: 20px;*/
                border-radius: 1em;
                background: #e84d4d;
                box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-transition: background 0.1s ease-in-out;
                transition: background 0.1s ease-in-out;
            }

                .toggle-pill-color input[type="checkbox"] + label:before {
                    content: "";
                    display: block;
                    width: 1.2em;
                    height: 1.2em;
                    border-radius: 1em;
                    background: #fff;
                    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
                    position: absolute;
                    left: 0.2em;
                    top: 0.2em;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }

            .toggle-pill-color input[type="checkbox"]:checked + label {
                background: #47cf73;
            }

                .toggle-pill-color input[type="checkbox"]:checked + label:before {
                    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
                    left: 1.6em;
                }
        /* toggle-pill-color end */

    </style>


    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
    </style>
    <script type="text/javascript">
        function fileValidation(filesss) {
            var fileElement = document.getElementById("DocumentsFiles");
            var fileElement = fileElement;
            var fileExtension = "";
            if (fileElement.value.lastIndexOf(".") > 0) {
                fileExtension = fileElement.value.substring(fileElement.value.lastIndexOf(".") + 1, fileElement.value.length);
            }
            if (fileExtension.toLowerCase() == "pdf") {
                return true;
            }
            else {
                /* alert("يجب اختيار ملف PDF فقط.");*/
                fileElement.value = '';
                return false;
            }
        }

        function Filevalidationsize() {
            const fi = document.getElementById('DocumentsFiles');
            if (fi.files.length > 0) {
                const fsize = fi.files.item(0).size;
                const file = Math.round((fsize / 1024));

                if (fsize > 4194304) {

                    return false;
                } else {

                    return true;
                }
            }
        }
    </script>
