@model Proced.DataAccess.Models.CF.CARTEST_CENTERS

@if (!Html.ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}
else if (ViewBag.Success != null)
{
    bool success = (bool)ViewBag.Success;
    if (success)
    {
        <div class="alert alert-success alert-dismissable">
            <h4>@(Proced.DataAccess.MetaData.ProcedSysResources.SuccessTitle)</h4>
        </div>
        <script>
            try {
                $("#modal").find(".save-btn").attr("disabled", true);
                toastr.clear();
                toastr.success("تمت عملية التعديل بنجاح", "@(Proced.DataAccess.MetaData.ProcedSysResources.SuccessTitle)");
                setTimeout(function () {
                    $("#modal").modal('hide');
                }, 1500);
            } catch (e) {
                console.log(e);
            }

            try {
                $("#grid").data("kendoGrid").dataSource.read();
            }
            catch (e) {
                console.log(e);
            }
        </script>
    }
    else
    {
        <script>
            $(function () {
                toastr.clear();
                toastr.error("فشلت عملية التعديل", "@(Proced.DataAccess.MetaData.ProcedSysResources.FailTitle)");
            });
        </script>
    }
}
<div class="form-horizontal">
    <div class="form-group">
        <table style="width:100% !important">
            <tr>
                <td style="text-align:left;">
                    <label> الاسم العربي:  </label>
                    &nbsp;&nbsp;
                </td>
                <td style="text-align:right" colspan="3">
                    @Html.TextBoxFor(m => m.ANAME, new { @class = "form-control", @style = "width:90% !important;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <label> الاسم الانجليزي:  </label>
                    &nbsp;&nbsp;
                </td>
                <td style="text-align:right" colspan="3">
                    @Html.TextBoxFor(m => m.ENAME, new { @class = "form-control", @style = "width:90% !important;" })
                </td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <label> رمز المركز:  </label>
                    &nbsp;&nbsp;
                </td>
                <td style="text-align:right" colspan="3">
                    @Html.TextBoxFor(m => m.CODE, new { @class = "form-control", @style = "width:90% !important;" })
                </td>
            </tr>
            <tr style="padding-top:10px;margin-top:10px;">
                <td style="text-align:left;margin-top:10px;padding-top:10px">
                    <label>فعال؟:</label>
                    &nbsp;&nbsp;
                <td style="text-align:right;padding-top:10px !important">
                    <label>نعم</label><input type="radio" name="ACTIVE" value="true" checked="checked" style="height:18px; width:18px; vertical-align: middle;" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>لا</label> <input type="radio" name="ACTIVE" value="false" style="height:18px; width:18px; vertical-align: middle;" />
                </td>
            </tr>
        </table>
    </div>
</div>
