@model IEnumerable<Proced.DataAccess.Models.CF.TRPASSENGERS_CREDITS>
@{
    ViewBag.Title = "القيم المبدئية" + " - " + @ViewBag.cityname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:550px">
    <div class="row" style="height: 25%; margin-left: 25px; margin-right: 25px">
        <div class="col-lg-12" style="text-align:center;font-size:24px;margin-top:25px">
            <span> لجنة نقل ركاب محافظة</span>
            <span>
                @ViewBag.cityname
            </span>
        </div>

    </div>
    <div class="row justify-content-md-center justify-content-lg-center" style="height: 25%; margin-left: 25px; margin-right: 25px">
        <div class="col-lg-12" style="text-align:center;">
            <span style="font-size: 24px;">
                ادخل رصيدك الحالي
            </span>
            <br />
            <span style="font-size: 15px;">
                مع العلم انه اذا تم اضافة كتب تحويل او اوامر صرف وتثبيتها لن يمكنك تعديل القيمة المبدئية
            </span>
            <br />

            <br />

        </div>
    </div>

    <div class="row justify-content-lg-center">
        <div class="col-lg-3 col-md-3">
            <span style="color: red; font-weight: bold;">
                @(Html.Kendo().DatePicker()
                        .Name("SSDATE")
                        .Format("{0:dd/MM/yyyy}")
                        .HtmlAttributes(new { placeholder = "تاريخ ", style = " text-align:center;" })
                    )


            </span>
        </div>

    </div>
    <div class="row justify-content-lg-center">
        <br />
        <br />
        <div class="col-lg-3 col-md-3">
            <span style="color: red; font-weight: bold;">

                @(Html.Kendo()
                                .NumericTextBox()
                                .Spinners(false)
                                .Format("0")
                                .Name("SAmount").Min(0)
                                .HtmlAttributes(new { placeholder = "القيمة", style = "width: 100%; text-align:center;" })

                                )
            </span>

        </div>
        <br />

        <br />
    </div>
    <div class="row justify-content-lg-center">
            <span>
                <button class="btn btn-primary" onclick="SaveAmount()"> حفظ القيمة </button>
            </span>
        </div>




        <script>


    var xxx = @ViewBag.amount222;

     //  $("#SAmount").data("kendoNumericTextBox").value(ss);
   // $("#SAmount").data("kendoNumericTextBox").value(xxx);
    $('#SAmount').val(xxx);

   // var todayDate = kendo.toString(parseDate(ViewBag.CDATE), 'dd/MM/yyyy');
   // $("#SSDATE").data("kendoDatePicker").value(ViewBag.CDATE);
  //  $('#SSDATE').val(cccc);
    $("#SSDATE").kendoDatePicker({ format: "dd/MM/yyyy", value: '@ViewBag.CDATE'});
    function SaveAmount()
    {
        var Amo = $('#SAmount').val();
        var Sdate = $('#SSDATE').val();

        if (Amo != "")
        {
            if (Sdate != "") {
                $.ajax({
                    type: "POST",
                    data: { citynb: @ViewBag.citynb , Amount: Amo, SSdate: Sdate },
                    url: "@Url.Action("UpdateAmount", "TRPASSENGERS_CREDITS")",
                    success: function (response) {
                        if (response.success) {

                            toastr.success("تمت عملية الإضافة بنجاح");
                        } else {

                            toastr.error(response.responseText);
                        }

                    }
                });
            } else {
                toastr.error("يرجى ادخال التاريخ اولاً");
            }
        }
        else
        {
            toastr.error("يرجى ادخال القيمة اولاً");
        }

    }



        </script>



